<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="delriverInfo">

    <div class="project-info-title"  style="margin: 50px 0 20px;">
        <h5>배송 코드</h5>
        <p style="color: var(--maincolor);">DIC_20230922_00001</p>
    </div>
        <form >
            <table id="deliveryInfo" class="settlement-log" style="border:none;">
                <!-- contents -->

                <tr>
                    <td >
                        배송 유형
                    </td>
                    <td  colspan="3" style="text-align: left !important;">
                        <select name="delivery_category">
                            <option value="1" selected>일반 주문 배송</option>
                            <option value="1">교환 배송</option>
                            <option value="1">환불 배송</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        배송 상태
                    </td>
                    <td style="text-align: left !important;">
                        <select name="delivery_category">
                            <option value="1" selected>배송 대기중</option>
                            <option value="1">배송중</option>
                            <option value="1">배송완료</option>

                        </select>
                    </td>
                    <td class="title-td">
                        배송 완료 예정일
                    </td>
                    <td>
                        <input type="text" name="delivedDate" readonly="readonly">
                        <input type="date" name="delivedDateInput" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        교환 코드
                    </td>
                    <td style="text-align: left !important;">
                        <a class="detail-link" th:href="@{#}">DRG32094-00001 예시링크</a>
                    </td>
                    <td class="title-td">
                        환불 코드
                    </td>
                    <td style="text-align: left !important;">
                        <a>-</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        택배사
                    </td>
                    <td style="text-align: left !important;">
                        <select name="delivery_category">
                            <option value="">=== 택배사를 선택해주세요 ===</option>
                            <option value="1">CJ 대한통운</option>
                            <option value="1">롯데택배</option>
                            <option value="1">우체국택배</option>
                            <option value="1">로젠택배</option>
                            <option value="1">한진택배</option>
                            <option value="1">편의점택배</option>
                        </select>
                    </td>
                    <td class="title-td">
                        운송장번호
                    </td>
                    <td>
                        <input type="text" name="deliverNumber" value="304928-327372">
                    </td>
                </tr>
                <tr>
                    <td >
                        배송 메세지
                    </td>
                    <td  colspan="3" style="text-align: left !important;">
                        <select name="deliveryMessage" style="width:210px;">
                            <option value="1" selected>문 앞에 두고 가주세요</option>
                            <option value="2">배송 전에 연락 바랍니다</option>
                            <option value="3">직접 받고 부재시 문 앞</option>
                            <option value="4">부재시 경비실에 두고 가주세요</option>
                            <option value="5" >직접 입력</option>
                        </select>
                        <input type="text" width="700px" maxlength="20" placeholder="직접입력" name="deliveryMessageDirect" disabled>
                    </td>
                </tr>
                <tr>
                    <td>
                        배송 시작일
                    </td>
                    <td style="text-align: left !important;">
                        2023-10-20
                    </td>
                    <td class="title-td">
                        배송 완료일
                    </td>
                    <td>
                        2023-10-20
                    </td>
                </tr>
            </table>
        </form>
    </th:block>

</html>