<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
  <!--  사용자별 css file 추가 부분 -->
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/admin/css/adminBoard.css}">
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
  <!--    <script>-->
  <!--        function popupOpen(){-->
  <!--            console.log("a");-->
  <!--            var url= "/admin/board/main";    //팝업창에 출력될 페이지 URL-->
  <!--            var winWidth = 700;-->
  <!--            var winHeight = 600;-->

  <!--            var popupX = (document.body.offsetWidth / 2) - (winWidth / 2);-->
  <!--            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음-->

  <!--            var popupY= (window.screen.height / 2) - (winHeight / 2);-->
  <!--            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음-->
  <!--            var popupOption= 'status=no, height='+winWidth+', width='+winHeight+', left='+ popupX + ', top='+ popupY;    //팝업창 옵션(optoin)-->

  <!--            window.open(url,' target="_blank"',popupOption);-->
  <!--    </script>-->

</th:block>
<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
  <script>
    // 채크박스 전체 선택
    $('#allCheck').on('click', function (){
      let isChecked = $(this).prop('checked');
      $('input[name="admin_board"]').prop('checked', isChecked);
    });
  </script>
</th:block>

<th:block layout:fragment="customContents">
  <form>
    <div class="boardMain" style="margin-bottom: 20px;">
      <h3>카테고리 관리</h3>
    </div>

    <div class="section">
      <div class="title"><h2>카테고리 목록</h2></div>
      <div class="addBtnArea">
        <a class="addBtn">카테고리 등록</a>
      </div>
    </div>

    <div class="boardTable">
      <table border="1">
        <thead class="top">
        <tr>
          <th><input type="checkbox" id="allCheck"></th>
          <th>카테고리<br>유형</th>
          <th>카테고리 이름</th>
          <th>게시 날짜</th>
          <th>관리자 ID</th>
          <th>게시물 관리</th>
        </tr>
        </thead>
        <tbody class="center">

        </tbody>
      </table>
    </div>
  </form>
</th:block>
</html>