<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
  <!--  사용자별 css file 추가 부분 -->
  <title>카테고리 관리</title>
  <link rel="stylesheet" th:href="@{/admin/css/adminBoard.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
  <!--    <script>-->
  <!--        function popupOpen(){-->
  <!--            console.log("a");-->
  <!--            var url= "/admin/board/main";    //팝업창에 출력될 페이지 URL-->
  <!--            var winWidth = 700;-->
  <!--            var winHeight = 600;-->

  <!--            var popupX = (document.body.offsetWidth / 2) - (winWidth / 2);-->
  <!--            // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음-->

  <!--            var popupY= (window.screen.height / 2) - (winHeight / 2);-->
  <!--            // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음-->
  <!--            var popupOption= 'status=no, height='+winWidth+', width='+winHeight+', left='+ popupX + ', top='+ popupY;    //팝업창 옵션(optoin)-->

  <!--            window.open(url,' target="_blank"',popupOption);-->
  <!--    </script>-->

</th:block>
<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
  <script>
    // 체크박스 전체 선택
    $('#allCheck').on('click', function (){
      let isChecked = $(this).prop('checked');
      $('input[name="admin_board"]').prop('checked', isChecked);
    });

    // 개별 체크박스 선택 시 전체 체크박스 상태 확인
    $('input[name="admin_board"]').on('click', function() {
      let totalCheckboxes = $('input[name="admin_board"]').length;
      let checkedCheckboxes = $('input[name="admin_board"]:checked').length;

      if (totalCheckboxes === checkedCheckboxes) {
        $('#allCheck').prop('checked', true);
      } else {
        $('#allCheck').prop('checked', false);
      }
    });

    // 개별 체크박스 중 하나라도 체크를 해제할 때 전체 선택 체크박스도 해제
    $('input[name="admin_board"]').on('click', function() {
      let isChecked = $(this).prop('checked');

      if (!isChecked) {
        $('#allCheck').prop('checked', false);
      }
    });

    // // 카테고리목록
    // $('#cateSelect').change(function (){
    //   $categorySelect = $(this).prop('categorySelect');
    //
    //   switch ($categorySelect){
    //     case 0:
    //       $('.rewardCate').css('display', 'block');
    //       $('.donationCate').css('display', 'none');
    //       break;
    //     case 1:
    //       $('.donationCate').css('display', 'block');
    //       $('.rewardCate').css('display', 'none');
    //       break;
    //   }
    // })

    $('#cateSelect').change(function (){
      var selectedCategory = $(this).val();

      switch (selectedCategory){
        case '리워드':
          $('.rewardCate').closest('tr').show();
          $('.donationCate').closest('tr').hide();
          break;
        case '기부':
          $('.donationCate').closest('tr').show();
          $('.rewardCate').closest('tr').hide();
          break;
        default:
          $('.rewardCate, .donationCate').closest('tr').show();
          break;
      }
    });
  </script>
</th:block>

<th:block layout:fragment="customContents">
  <div class="boardMain" style="margin-bottom: 20px;">
    <h3>카테고리 관리</h3>
  </div>
  <form>

    <div class="section">
      <div class="title"><h2>카테고리 목록</h2></div>
      <div class="classiFication">
        <select id="cateSelect">
          <option>카테고리 목록</option>
          <option>리워드</option>
          <option>기부</option>
        </select>
      </div>
      <div class="addBtnArea">
        <a th:href="@{/admin/site/categoryAdd}" class="addBtn">카테고리 등록</a>
      </div>
    </div>

    <div class="boardTable">
      <table border="1">
        <thead class="top">
        <tr>
          <th><input type="checkbox" id="allCheck"></th>
          <th>카테고리 코드</th>
          <th>카테고리 등록 관리자</th>
          <th>카테고리 이름</th>
          <th>사용 여부</th>
          <th>등록 일시</th>
          <th>게시물 관리</th>
        </tr>
        </thead>
        <tbody class="center">
        <tr>
          <td>
            <input type="checkbox" class="rewardCate" name="admin_board">
          </td>
          <td class="rewardCate">rwd_cate_001</td>
          <td>id001</td>
          <td>책</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="rewardCate" name="admin_board">
          </td>
          <td class="rewardCate">rwd_cate_002</td>
          <td>id001</td>
          <td>영화</td>
          <td>0</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="rewardCate" name="admin_board">
          </td>
          <td class="rewardCate">rwd_cate_003</td>
          <td>id001</td>
          <td>그림</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="rewardCate" name="admin_board">
          </td>
          <td class="rewardCate">rwd_cate_004</td>
          <td>id001</td>
          <td>공연</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="rewardCate" name="admin_board">
          </td>
          <td class="rewardCate">rwd_cate_005</td>
          <td>id001</td>
          <td>전시</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="donationCate" name="admin_board">
          </td>
          <td class="donationCate">don_ct_001</td>
          <td>id001</td>
          <td>환경</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="donationCate" name="admin_board">
          </td>
          <td class="donationCate">don_ct_002</td>
          <td>id001</td>
          <td>다문화</td>
          <td>0</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="donationCate" name="admin_board">
          </td>
          <td class="donationCate">don_ct_003</td>
          <td>id001</td>
          <td>지구촌</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="donationCate" name="admin_board">
          </td>
          <td class="donationCate">don_ct_004</td>
          <td>id001</td>
          <td>시민사회</td>
          <td>0</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="donationCate" name="admin_board">
          </td>
          <td class="donationCate">don_ct_005</td>
          <td>id001</td>
          <td>동물</td>
          <td>1</td>
          <td>2023.11.04</td>
          <td>
            <a class="modify" th:href="@{#}">수정</a>
            <a class="delete" th:href="@{#}">삭제</a>
          </td>
        </tr>

        </tbody>

      </table>
    </div>
    <div class="board-page-area">
      <div class="list-controller-inner">
        <ul>
          <li class="link-active"><a th:href="@{#}">1</a></li>
          <li><a th:href="@{#}">2</a></li>
          <li><a th:href="@{#}">3</a></li>
          <li><a th:href="@{#}">4</a></li>
          <li><a th:href="@{#}">5</a></li>
          <li><a th:href="@{#}">6</a></li>
        </ul>
        <div class="list-btn-area">
          <button class="prev-transfer">
            <span>prev</span>
          </button>
          <button class="next-transfer">
            <span>next</span>
          </button>
        </div>
      </div>

    </div>
  </form>
</th:block>
</html>