<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team02.user.mapper.donation.DonationRegistrationMapper">

    <insert id="addDonation" parameterType="ksmart.ks48team02.user.dto.donation.DonationRegistration">
        /* 기부 상품 등록*/
        <selectKey keyProperty="donationCode,storeCode" resultType="hashmap" order="BEFORE">
            SELECT
                (
                    CASE
                    WHEN COUNT(d.donation_reg_date) = 0     THEN CONCAT('don_', CURDATE()+0, '_0001')
                    WHEN COUNT(d.donation_reg_date) > 9999  THEN CONCAT('don_', CURDATE()+0, '_', COUNT(d.donation_reg_date)+1)
                    ELSE CONCAT('don_', CURDATE()+0, '_', LPAD(COUNT(d.donation_reg_date)+1, 4, '0'))
                    END
                ) AS donationCode,
                (
                    SELECT
                        s.store_code
                    FROM
                        store AS s
                    WHERE
                        s.member_id = #{memberId}
                ) AS storeCode
            FROM
                donation AS d
            WHERE
                DATE_FORMAT(d.donation_reg_date, '%Y-%m-%d') = CURDATE();
        </selectKey>
        INSERT INTO donation
        (donation_code, store_code, member_id, donation_judgement_reason_code, admin_member_id, total_category_code, donation_subject, donation_like,
        donation_contents, donation_image, donation_reg_date, donation_start_date, donation_end_date, donation_achievement_money,
        donation_goal_money, donation_achievement_percent, donation_judgment_reason_detail, donation_judgement_date, search_count, donation_condition)
        VALUES
        (#{donationCode}, #{storeCode}, #{memberId}, NULL, NULL, #{totalCategoryCode}, #{donationSubject}, 0, #{donationContents},
        #{donationImage}, NOW(), NULL, #{donationEndDate}, 0, #{donationGoalMoney}, 0, NULL, NULL, 0, 0);
    </insert>

</mapper>