<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div class="col-lg-5" th:fragment="asideFragments">
    <div class="col-lg-12" style="height: 40px"></div>
    <div class="container" style="position: sticky; top: 100px; scroll-behavior: smooth;">
        <div>
            <span style="display: inline-block;">
                <a th:href="@{#}" style="text-decoration: none; color: grey">아동.청소년 ></a>
            </span>
            <span style="display: inline-block;">
                <div style="background: lightgrey; padding: 2px; border-radius: 10px">
                    <a th:href="@{#}" style="text-decoration: none; color: black">
                        <span>
                            <span style="color: #235FD9">#</span>
                            <span>재난</span>
                        </span>
                    </a>
                </div>
            </span>
        </div>
        <div style="border: 0.3px solid #f3f4f5; margin: 10px 0px; width: 100%"></div>
        <div>
            <p style="font-weight: bold; font-size: 20px; color: black">시설 퇴소를 앞둔, 음악으로 세상에 서고 싶은 사랑이</p>
            <p>사랑이는 첫돌이 되기 전, 보육원에 맡겨졌습니다. 엄마가 미성년자일 때 임신을 하게 되었고, 남자친구와는 헤어지게 되어 홀로 사랑이를 낳았다고 합니다.
                아이를 혼자 키울 수 없던 엄마는 사랑이를 보육원에 맡겼고 지금껏 사랑이는 엄마, 아빠가 누구인지조차 알지 못합니다.</p>
        </div>
        <div>
            <div>
                <span style="font-size: 20px; color: #235FD9; font-weight: bold">337</span>
                <span style="color: #235FD9">명 참여</span>
                <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">11일남음</span>
            </div>
            <div>
                <span style="font-size: 20px; color: black; font-weight: bold;">480,200</span>
                <span style="color: black">원 달성</span>
                <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">34% 달성</span>
            </div>
        </div>
        <div style="border: 0.3px solid #f3f4f5; margin: 10px; width: 100%"></div>

        <div style="border: 3px solid #f3f4f5; border-radius: 5px; overflow: auto; overflow-x: hidden; width: 100%; height: 600px; padding: 10px;">

            <a th:href="@{/user/reward/order}" class="text-dark" id="option1">
                <div class="mb-2" style="border: 3px solid #f3f4f5; border-radius: 5px;">
                    <span class="font-weight-bold ml-2">20,000원</span>
                    <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">300개 남음</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">옵션 1</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">배송비</span>
                    <span class="font-weight-bold float-right mr-2">무료 배송</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">발송 시작일</span>
                    <span class="font-weight-bold float-right mr-2">2023-11-05</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">제한 수량</span>
                    <span class="font-weight-bold float-right mr-2 text-danger">300개</span>
                </div>
            </a>
            <a th:href="@{#}" class="text-dark" id="option2">
                <div class="mb-2" style="border: 3px solid #f3f4f5; border-radius: 5px;">
                    <span class="font-weight-bold ml-2">25,000원</span>
                    <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">300개 남음</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">옵션 2</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">배송비</span>
                    <span class="font-weight-bold float-right mr-2">무료 배송</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">발송 시작일</span>
                    <span class="font-weight-bold float-right mr-2">2023-11-05</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">제한 수량</span>
                    <span class="font-weight-bold float-right mr-2 text-danger">300개</span>
                </div>
            </a>
            <a th:href="@{#}" class="text-dark" id="option3">
                <div class="mb-2" style="border: 3px solid #f3f4f5; border-radius: 5px;">
                    <span class="font-weight-bold ml-2">30,000원</span>
                    <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">300개 남음</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">옵션 3</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">배송비</span>
                    <span class="font-weight-bold float-right mr-2">무료 배송</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">발송 시작일</span>
                    <span class="font-weight-bold float-right mr-2">2023-11-05</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">제한 수량</span>
                    <span class="font-weight-bold float-right mr-2 text-danger">300개</span>
                </div>
            </a>
            <a th:href="@{#}" class="text-dark" id="option4">
                <div class="mb-2" style="border: 3px solid #f3f4f5; border-radius: 5px;">
                    <span class="font-weight-bold ml-2">40,000원</span>
                    <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">300개 남음</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">옵션 4</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">배송비</span>
                    <span class="font-weight-bold float-right mr-2">무료 배송</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">발송 시작일</span>
                    <span class="font-weight-bold float-right mr-2">2023-11-05</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">제한 수량</span>
                    <span class="font-weight-bold float-right mr-2 text-danger">300개</span>
                </div>
            </a>
            <a th:href="@{#}" class="text-dark" id="option5">
                <div class="mb-2" style="border: 3px solid #f3f4f5; border-radius: 5px;">
                    <span class="font-weight-bold ml-2">45,000원</span>
                    <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">300개 남음</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">옵션 6</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">배송비</span>
                    <span class="font-weight-bold float-right mr-2">무료 배송</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">발송 시작일</span>
                    <span class="font-weight-bold float-right mr-2">2023-11-05</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">제한 수량</span>
                    <span class="font-weight-bold float-right mr-2 text-danger">300개</span>
                </div>
            </a>
            <a th:href="@{#}" class="text-dark" id="option6">
                <div class="mb-2" style="border: 3px solid #f3f4f5; border-radius: 5px;">
                    <span class="font-weight-bold ml-2">50,000원</span>
                    <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">300개 남음</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">옵션 7</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">배송비</span>
                    <span class="font-weight-bold float-right mr-2">무료 배송</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">발송 시작일</span>
                    <span class="font-weight-bold float-right mr-2">2023-11-05</span>
                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                    <span class="ml-2">제한 수량</span>
                    <span class="font-weight-bold float-right mr-2 text-danger">300개</span>
                </div>
            </a>
        </div>

        <div>
            <br>
            <a th:href="@{/user/reward/order}">
                <button id="rewardBtn" type="button"
                        style="background: #235FD9; width: 100%; height: 80px; font-size: 30px; color: white; border-radius: 15px">펀딩하기
                </button>
            </a>

        </div>

        <div style="height: 20px"></div>
        <div style="border: 3px solid #f3f4f5; border-radius: 30px; padding: 20px; text-align: center">
            <div>
                <div>스토어</div>
                <div class="row justify-content-center">
                    <div class="ProfileImage"
                         style="width: 40px; height: 40px; background: #EEE; margin-right: 3%;"></div>
                    <div class="" style="color: black; font-weight: bold; font-size: 20px;">주식회사 김플루</div>
                </div>
                <div style="color: #002a80; font-weight: bold; font-size: 15px;">2320명이 팔로우 중</div>
                <div><a th:href="@{#}" class="btn btn-secondary" id="goInquiryBtn">문의하기</a>
                    <button type="button" class="btn btn-primary" id="followBtn">팔로우</button>
                </div>
            </div>
        </div>
        <div style="border: 3px solid #f3f4f5; border-radius: 30px; padding: 20px; text-align: center">
            <div>
                <div style="color: #002a80; font-weight: bold">총 누적 펀딩액 3억원+</div>
                <div>문의 전화 : 010-1111-1111</div>
            </div>
        </div>
    </div>
</div>

</html>