<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
  <!--  사용자별 css file 추가 부분 -->
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" th:href="@{/user/css/swiper-event-css.css}" />



</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- 	  	<script th:src="@{user/js/swiper-slide-event.js}"></script> -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- common js -->
  <script src="/common/js/common-custom.js"></script>

</th:block>


<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
  <script>
    $(document).ready(function() {
      // 증권 구분 셀렉트 박스의 변경 이벤트 핸들러 등록
      $('#securitiesClassification').change(function() {
        // 선택된 값 가져오기
        let selectedValue = $(this).val();

        // 현금 보유량, 현재 주식 수, 발행 예정 주식 수 입력 필드의 부모 요소를 가져옴
        let cashReservesInput = $('#cashReserves').closest('.my-2');
        let stockNumberInput = $('#stockNumber').closest('.my-2');
        let issueStockNumberInput = $('#issueStockNumber').closest('.my-2');

        // 주식형이 선택된 경우
        if (selectedValue === '1') {
          // 현재 주식 수와 발행 예정 주식 수 필드 표시
          stockNumberInput.show();
          issueStockNumberInput.show();
          // 현금 보유량 입력 필드 숨기고 유효성 검사 제거
          cashReservesInput.hide().find('input').prop('required', true);
        } else if (selectedValue === '2') {
          // 채권형이 선택된 경우
          // 현금 보유량 입력 필드 표시
          cashReservesInput.show();
          // 현재 주식 수와 발행 예정 주식 수 입력 필드 숨기고 유효성 검사 제거
          stockNumberInput.hide().find('input').prop('required', true);
          issueStockNumberInput.hide().find('input').prop('required', true);
        }
      });
    });

    // rank tab function
    $('.tab-menu-btn li').on('click',function(){
      $('.tab-menu-btn li').removeClass('active');
      $(this).addClass('active');
      let tabData = $(this).attr('data-tab');
      $('.main-rank-area').hide();
      $('#'+tabData).show();
    });

    //약관 체크 모두 될 시 모두 동의에 체크.
    $('.essential').not('#agreeNews').click(function(){
      let checkLength = $('.essential').not('#agreeNews').length;
      let checkedLength = $('.essential:checked').not('#agreeNews').length;
      let isAllCheck = checkLength === checkedLength;
      $('#allCheck').prop('checked',isAllCheck);
    });

    //약관 모두 동의 체크시 모두 동의
    $('#allCheck').click(function(){
      $('.essential').not('#agreeNews').prop('checked',$(this).prop('checked'));
    });

    $('#price').find('input').change(function(){

      let price = Number($(this).val().replaceAll(',',''));
      $(this).data('price',price);

    })



    function validationEmptyFn($els) {
      let isFalse = true;
      $($els).each((idx, item) => {
        let value = $(item).val();
        let labelId = $(item).attr('id');

        // 주식형이 선택되었을 때 현금 보유량 필드는 유효성 검사에서 제외
        if (labelId === 'cashReserves' && $('#securitiesClassification').val() === '1') {
          return true;
        }else if ((labelId === 'stockNumber' || labelId === 'issueStockNumber') && $('#securitiesClassification').val() === '2'){
          return true;
        }

        if (value == null || value === '' || typeof value === 'undefined') {
          let labelText = $(`label[for=${labelId}]`).text();
          alert(labelText + '는 필수 입력 항목입니다');
          $(item).focus();
          isFalse = false;
          return false;
        }
      });
      return isFalse;
    }

    // 다음단계 클릭 시 필수 약관동의 모두 체크되어있는지 확인
    $('.nextBtn').click(function(e){
      e.preventDefault();  // 기존 이벤트 동작 중단

      const targetEls = $('.needs-validation input, .needs-validation select, .needs-validation textarea').not('input[type="checkbox"]');
      // 값 유효성 검사
      if(!validationEmptyFn(targetEls)){
        return;
      }

      let isValid = true;

      $('.essential').each(function(idx,item){
        if(!$(item).prop('checked')) {
          alert('필수 약관에 모두 동의해주세요');
          $(item).focus();
          isValid =false;
          return false;
        }
      });

      // 유효성 검사와 약관 동의 검증이 모두 통과하면 다음 화면으로 이동
      if (isValid) {

        alert('유효성검사 완료');
        $('#price').find('input').each((idx,item)=>{

          let price = $(item).data('price');
          $(item).attr('type','number');
          $(item).val(price);

        })

        $('.needs-validation').submit();

        // location.href='/user/projectRegistration/investment/insert';
      }
    });




  </script>



</th:block>

<th:block layout:fragment="customContents">
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h2>투자 프로젝트 심사 요청</h2>
        <!--<p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>-->
      </div>


      <div class="row g-5" style="justify-content: center;">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" action="/user/projectRegistration/investment/insert" method="post">
            <div class="row g-3">

              <div class="my-2 col-12">
                <label for="securitiesClassification" class="form-label fw-bord text-dark">증권 구분</label>
                <div class="input-group mb-3">
                  <select class="custom-select" id="securitiesClassification">
                    <option value="" disabled="disabled" selected="selected">증권 구분</option>
                    <option class="stock" value="1">주식형</option>
                    <option class="bond" value="2">채권형</option>
                  </select>
                </div>
              </div>
            </div>

            <hr class="my-4">

            <div class="row g-3">
              <div class="my-2 col-12">
                <label for="investmentRequestSubject" class="form-label fw-bord text-dark">프로젝트 제목</label>
                <input type="text" class="form-control" name="investmentRequestSubject" id="investmentRequestSubject" placeholder="프로젝트 제목을 입력해주세요.">
              </div>

              <div class="my-2 col-12">
                <label for="investmentRequestContent" class="form-label fw-bord text-dark">프로젝트 내용</label>
                <input type="text" class="form-control" name="investmentRequestContent" id="investmentRequestContent" placeholder="프로젝트 내용을 입력해주세요.">
              </div>

              <div class="my-2 col-12">
                <label for="corporateName" class="form-label fw-bord text-dark">회사명</label>
                <input type="text" class="form-control" name="investmentCompany" id="corporateName" placeholder="회사명을 입력해주세요.">
              </div>

              <span id="price">
                <div class="my-2 col-12">
                  <label for="investmentAchievementMoney" class="form-label fw-bord text-dark">펀딩 목표 금액</label>
                  <input type="text" name="investmentAchievementMoney" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="investmentAchievementMoney" placeholder="펀딩 목표 금액을 입력해주세요.">

                </div>

                <div class="my-2 col-12">
                  <label for="businessProfits" class="form-label fw-bord text-dark">영업 이익</label>
                  <input type="text" name="businessProfits" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="businessProfits" placeholder="영업 이익 금액을 입력해주세요.">
                </div>

                <div class="my-2 col-12">
                  <label for="depreciation" class="form-label fw-bord text-dark">감가상각비</label>
                  <input type="text" name="depreciation" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="depreciation" placeholder="감가상각비를 입력해주세요.">
                </div>

                <div class="my-2 col-12">
                  <label for="netDebt" class="form-label fw-bord text-dark">순차입금</label>
                  <input type="text" name="netDebt" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="netDebt" placeholder="순차입금을 입력해주세요.">
                </div>

                <div class="my-2 col-12">
                  <label for="stockNumber" class="form-label fw-bord text-dark">현재 주식 수</label>
                  <input type="text" name="stockNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="stockNumber" placeholder="현재 주식 수를 입력해주세요." >
                </div>

                <div class="my-2 col-12">
                  <label for="issueStockNumber" class="form-label fw-bord text-dark">발행 예정 주식 수</label>
                  <input type="text" name="issueStockNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="issueStockNumber" placeholder="발행 예정 주식 수를 입력해주세요.">
                </div>

                <div class="my-2 col-12">
                  <label for="cashReserves" class="form-label fw-bord text-dark">현금 보유량</label>
                  <input type="text" name="cashReserves" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');" class="form-control" id="cashReserves" placeholder="현금 보유량을 입력해주세요." >
                </div>
              </span>



            </div>



            <hr class="my-4">

            <div class="my-2 col-12">
              <label for="businessType" class="form-label fw-bord text-dark">업종 선택</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="businessType" name="businessType">
                  <option value="" disabled="disabled" selected="selected">업종 선택</option>
                  <option th:each="l : ${userCompanyBusinessType}" th:text="|코드번호: ${l.companyBusinessTypeCode} (${l.businessType})|"></option>
                </select>
              </div>
            </div>

            <div class="my-2 col-12">
              <label for="capitalMarketsLawSatisfactionCriteria" class="form-label fw-bord text-dark">자본시장법 충족 기준</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="capitalMarketsLawSatisfactionCriteria" name="lawSatistifyCode">
                  <option value="" disabled="disabled" selected="selected">자본시장법 충족 기준 선택</option>
                  <option th:each="l : ${userLawSatistifyReason}" th:text="${l.lawSatistifyReason}" th:value="${l.lawSatistifyCode}"></option>
                </select>
              </div>
            </div>


            <hr class="my-4">


            <div class="ml-lg-2 mt-lg-5">
              <h5 style="font-weight: bold;">약관 동의</h5>
              <div class="ml-lg-3 mt-lg-4">

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="allCheck">
                  <label class="form-check-label" for="allCheck">
                    필수 약관 모두동의
                  </label>
                </div>
                <div style="border: 0.2px solid #f3f4f5; margin: 5px; width: 100%"></div>
                <div class="form-check">
                  <input class="essential form-check-input" type="checkbox" value="" id="agree1">
                  <label class="form-check-label" for="agree1">
                    개인정보 제3자 제공 동의 (필수)
                  </label>
                </div>
                <div class="form-check">
                  <input class="essential form-check-input" type="checkbox" value="" id="agree2">
                  <label class="form-check-label" for="agree2">
                    책임 규정에 대한 동의 (필수)
                  </label>
                </div>
              </div>
            </div>

            <hr class="my-4">

            <button class="nextBtn w-80 btn btn-primary btn-lg" type="button">다음단계</button><br><br>
          </form>
        </div>
      </div>
    </main>

  </div>
</th:block>

<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->

</html>