<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <script th:src="@{/common/js/ajaxJs.js}"></script>
    <script th:src="@{/common/js/admin-commonJs.js}"></script>
</th:block>

<!-- 사용자별 컨텐츠 -->
<th:block layout:fragment="customContents">
    <div class="admin-content-wrapper form-table">
        <table class="partition-select">
            <tbody>
            <tr>
                <td>
                    기간
                </td>
                <td>
                    <input type="date" name="amDateSettStartDate">
                    <span> - </span>
                    <input type="date" name="amDateSettEndDate">
                </td>
            </tr>
            <tr>
                <td>
                    회원 ID
                </td>
                <td class="member-category-select">
                    <select name="sellerSearchKey">
                        <option value="total">전체</option>
                        <option value="seller">일반 판매자</option>
                        <option value="representative">대표 판매자</option>
                        <option value="employee">직원 판매자 </option>
                        <option value="orderFundingName">구매자</option>
                    </select>
                    <input type="text" style="padding: 5px; width: 250px;" name="userSearchable" id="search-id">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-area">
            <button type="button" class="orderSearchBtn submitBtn">검색</button>
        </div>
    </div>

    <!-------------------------- 검색 결과 ---------------------------------->
    <div class="title-wrap">
        <h4 class="admin-content-title">회원 로그인 이력</h4>
    </div>
    <div class="admin-content-wrapper" style="overflow-x: hidden;">
        <div>
            <!-- select area -->
            <div class="data-info">
                <div class="list-count-area">
                    <ul>
                        <li>검색 결과 <span class="count-data total-list">0</span>건</li>
                    </ul>
                </div>
                <div class="list-count-selector">
                    <select name="orderby">
                        <option value="order_a">최신 가입일순</option>
                        <option value="orderCompleted">가입일 역순</option>
                    </select>
                    <select name="count-select">
                        <option value="15">15개씩 보기</option>
                        <option value="20">20개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                    </select>
                </div>
            </div>
            <!-- contents area -->
            <table class="settlement-log">
                <thead>
                <tr>
                    <th style="width:5%;">
                        <input type="checkbox" name="allSelect" id="allSelectBtn">
                    </th>
                    <th style="width:12%;">회원 유형 코드</th>
                    <th style="width:10%;">ID</th>
                    <th style="width:6%;">이름</th>
                    <th style="width:20%;">이메일</th>
                    <th style="width:10%;">휴대폰 번호</th>
                    <th style="width:10%;">가입 일자</th>
                    <th style="width:10%;">탈퇴 여부</th>
                    <th style="width:10%;">탈퇴 일자</th>
                </tr>
                </thead>
                <tbody>
                <!-- 조회 결과 없음 -->
                <tr th:if="${loginLogs == null}">
                    <td colspan="10" style="text-align: center; padding: 30px 0;">검색 결과가 없습니다.</td>
                </tr>
                <!-- 조회 결과 contents -->
                <tr th:nuless="${loginLogs == null}" th:each="l : ${loginLogs}">
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">회원 유형 코드</td>
                    <td th:text="${l.orderApplicationDate}" class="table-data-center">로그인 로그 코드</td>
                    <td th:text="${l.orderFundingName}"  class="table-data-center">회원 ID</td>
                    <td th:text="${l.orderCategoryDetail}">로그인 일시</td>
                    <td th:text="${l.orderName}"  class="table-data-center">로그아웃 일시</td>
                    <td th:text="${l.orderName}"  class="table-data-center">접속 IP</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        let $searchIdBtn = document.querySelector('.orderSearchBtn.submitBtn');
        let $searchId = document.getElementById('search-id');
        $searchIdBtn.addEventListener('click',function (){
                 /* 유효성 검사  */
                if( $searchId.value.trim() === '' || typeof $searchId === 'undefined' || $searchId.value == null ) {
                    alert('회원 아이디를 입력해 주세요');
                }else{
                    $.ajax({
                        url : '/admin/user/getLoginLog',
                        method : 'POST',
                        data : {'memberId' : $searchId.value },
                        dataType : 'json'
                    })
                        .done(function(response){
                             console.log(response);
                        })

                        .fail(function (jqXHR, textStatus){
                            alert('통신 중 오류가 발생하였습니다');
                            console.log(`Request failed: ${textStatus}`);
                        })
                }
        })



        /* 체크박스 : 전체동의 체크시 모든 항목 체크  */
        const $all = document.getElementById('all');
        const $chooseUnreg = document.querySelectorAll('.choose-unreg');

        $all.addEventListener('click', () => {
            $chooseUnreg.forEach(element => {
                element.checked = $all.checked;
            })
        })

        /* 체크박스 : 개별 항목 전부 체크시 전체동의 체크 */
        $chooseUnreg.forEach(checkbox => { // 개별 항목마다 이벤트 리스너를 걸어 주기
            checkbox.addEventListener('change', () => {
                const $checkedBoxes = document.querySelectorAll('.choose-unreg[type="checkbox"]:checked');

                $all.checked = $checkedBoxes.length === $chooseUnreg.length;
            });
        });
    </script>
</th:block>
</html>