<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <title th:text="${title}"></title>
    <style>
        .table-data-center-modify{
            text-align: center;
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script>

        function sortItemClickedStyle(element) {
            const listItems = document.querySelectorAll("#sort-item-wrap li");

            for (const listItem of listItems) {
                listItem.classList.remove("selected");
            }

            element.classList.add("selected");
        }
        function cateItemClickedStyle(element) {
            const listItems = document.querySelectorAll("#category-wrap li");

            for (const listItem of listItems) {
                listItem.classList.remove("selected");
            }

            element.classList.add("selected");
        }

        // 심사 여부에 따른 수정 버튼 숨기기 기능
        $('tr').each(function() {
            const judgeText = $(this).find('.table-data-center-judge').text().trim();

            // "심사완료"인 경우
            if (judgeText === '심사완료') {
                // "table-data-center-modify" 클래스의 <a> 태그를 숨깁니다.
                $(this).find('.table-data-center-modify a').text('수정불가');
                $(this).find('.table-data-center-modify a').on('click', function (event){
                    event.preventDefault();
                });
            }
        });

        // 심사 완료 프로젝트, 심사중 프로젝트 셀렉트 박스 기능 구현
        $('.project-select').on('change', function() {
            const selectedValue = $(this).val();

            // 모든 <tr> 요소를 숨깁니다.
            $('table.settlement-log tbody tr').hide();

            if (selectedValue === '0') {
                // "전체 프로젝트"를 선택한 경우, 모든 행을 표시합니다.
                $('table.settlement-log tbody tr').show();
            } else if (selectedValue === '1') {
                // "심사완료된 프로젝트"를 선택한 경우, "심사완료"인 행을 표시합니다.
                $('table.settlement-log tbody tr .table-data-center-judge:contains("심사완료")').closest('tr').show();
            } else if (selectedValue === '2') {
                // "심사중인 프로젝트"를 선택한 경우, "심사중"인 행을 표시합니다.
                $('table.settlement-log tbody tr .table-data-center-judge:contains("심사중")').closest('tr').show();
            }

        });
        // 행이 없을 경우 검색 결과가 없습니다. 행을 표시합니다.  -- 전체 프로젝트 누르면 이게 뜨는 오류가 있음
        if($('table.settlement-log tbody tr').length == 1){
            $('table.settlement-log tbody tr.not-contents').show();
        }else{
            $('table.settlement-log tbody tr.not-contents').hide();
        }


    </script>
</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">
    <div class="title-wrap">
        <h4 class="admin-content-title">현재 프로젝트 목록</h4>
        <div class="btnArea">
            <button type="button" class="printBtn"><span>액셀 다운로드</span></button>
        </div>
    </div>
    <div class="admin-content-wrapper">
        <div class="data-info">
            <div class="list-count-area">
                <ul>
                    <li>프로젝트 목록 총 <span class="count-data total-list">0</span>건</li>
                    <li>선택 항목 총 <span class="count-data select-list-count">0</span>건</li>
                </ul>
            </div>
            <div class="list-count-selector">
                <select class="project-select">
                    <option value="0">전체 프로젝트</option>
                    <option value="1">심사완료된 프로젝트</option>
                    <option value="2">심사중인 프로젝트</option>
                </select>
                <select name="orderby">
                    <option value="regist_d">등록일 역순</option>
                    <option value="regist_a">등록일 순</option>
                    <option>-----------------</option>
                    <option value="project_name_d">프로젝트명 역순</option>
                    <option value="project_name_a">프로젝트명 역순</option>
                </select>
                <select name="count-select">
                    <option value="15">15개씩 보기</option>
                    <option value="20">20개씩 보기</option>
                    <option value="30">30개씩 보기</option>
                </select>
            </div>
        </div>
        <form>

            <table class="settlement-log">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="allSelect" id="allSelectBtn">
                    </th>
                    <th style="width:8%;">프로젝트코드</th>
                    <th style="width:8%;">프로젝트</br>심사여부</th>
                    <th style="width:20%;">프로젝트 명</th>
                    <th style="width:15%;">
                        프로젝트 목표 금액
                    </th>
                    <th style="width:10%;">공고 등록일자</th>
                    <th style="width:10%;">공고 마감일자</th>
                    <th>수정</th>
                    <th>담당자</th>

                </tr>
                </thead>
                <tbody>
                <!-- not contents -->
                <tr class="not-contents">
                    <td colspan="10" style="text-align: center; padding: 30px 0;">검색 결과가 없습니다.</td>
                </tr>
                <!-- contents -->
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사중
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사중
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>
                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                <tr>
                    <td class="table-data-center">
                        <input type="checkbox" name="selectList">
                    </td>
                    <td class="table-data-center">
                        ORD20231022-000001
                    </td>
                    <td class="table-data-center-judge">
                        심사완료
                    </td>
                    <td>
                        [프로젝트]프로젝트명 입니다요
                    </td>

                    <td>
                        <div style="float:left;"><span class="settlement-pay">150,000,000</span> 원</div>
                    </td>
                    <td class="table-data-center">
                        2023-10-20
                    </td>
                    <td class="table-data-center">
                        2023-11-20
                    </td>
                    <td class="table-data-center-modify">
                        <a th:href="@{/seller/donation/products/modify}">수정</a>
                    </td>
                    <td class="table-data-center">
                        id001
                    </td>

                </tr>
                </tbody>
            </table>
        </form>
        <!-- list pager -->
        <div class="board-page-area">
            <div class="list-controller-inner">
                <ul>
                    <li class="link-active"><a th:href="@{#}">1</a></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li>
                    <li><a th:href="@{#}">4</a></li>
                    <li><a th:href="@{#}">5</a></li>
                    <li><a th:href="@{#}">6</a></li>
                </ul>
                <div class="list-btn-area">
                    <button class="prev-transfer">
                        <span>prev</span>
                    </button>
                    <button class="next-transfer">
                        <span>next</span>
                    </button>
                </div>
            </div>

        </div>
</th:block>
</body>
</html>