<!doctype html>

<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<body>
<div th:fragment="news" class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="news-tab" style="padding: 20px;">
    <!-- tab 내부 타이틀 영역 -->
    <h5 style="font-weight: bold;">스토어 소식</h5>

    <!--  tab 내부 본문 영역 -->
    <div style="display : flex;flex-direction: column; padding: 30px; align-items: center;">

        <div class="bodyContainer">
            <!-- 스토어 새소식 리스트 항목 -->
            <div class="contentsContainer">
                <div>
                    <!-- 스토어 새소식 -->
                    <div class="store-news" th:if="${storeNewsList != null}" th:each="list : ${storeNewsList}">
                        <!-- 게시 날짜  -->
                        <div>
                            <p>1주일 전</p>
                        </div>
                        <!-- 이미지  -->
                        <div style="display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
                            <img style="width: 250px; height: 250px;" src="https://contents.lotteon.com/itemimage/_v150640/LO/19/98/02/00/32/_1/99/80/20/03/3/LO1998020032_1998020033_1.jpg/dims/optimize/dims/resizemc/400x400"
                                 alt="...">
                        </div >
                        <!-- 스토어 새소식 text -->
                        <div>
                            <div>
                                <strong th:text="${list.title}"></strong>
                            </div>
                            <div >
                                <p th:text="${list.contents}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="store-news" th:if="${storeNewsList == null}">
                        <div style="display: flex; justify-content: center; align-items: center; margin-top: 40px; margin-bottom: 10px; ">
                            <h5 style="color: dimgrey;">새소식이 없습니다.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>