<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">

    <div th:include="~{admin/judgement/investment/search/invest_jduge_search :: searchFragment}"></div>
    <br>
    <div class="admin-content-wrapper">

        <div class="data-info">
            <div class="list-count-area">
                <ul>
                    <li>심사 요청 총 <span class="count-data total-list">0</span>건</li>
                    <li>선택 항목 총 <span class="count-data select-list-count">0</span>건</li>
                </ul>
            </div>
            <div class="list-count-selector">
                <select name="security">
                    <option value="stock">주식</option>
                    <option value="bond">채권</option>
                </select>
                <select name="orderby">
                    <option value="regist_d">신청일 순</option>
                    <option value="regist_a">신청일 역순</option>
                    <option>-----------------</option>
                    <option value="project_name_d">요청 코드순</option>
                    <option value="project_name_a">요청 코드 역순</option>
                    <option>-----------------</option>
                    <option value="project_name_d">심사요청 제목순</option>
                    <option value="project_name_a">심사요청 제목역순</option>
                </select>
                <select name="rowPerpage">
                    <option value="15">15개씩 보기</option>
                    <option value="20">20개씩 보기</option>
                    <option value="30">30개씩 보기</option>
                </select>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th>투자후 기업정보 공개 코드</th>
                <th>대표자 아이디</th>
                <th>투자펀딩 공고코드</th>
                <th>진행 후 펀딩 달성금액 가치</th>
                <th>펀딩 달성금액</th>
                <th>매출액</th>
                <th>매출원가</th>
                <th>매출총이익</th>
                <th>영업이익</th>
                <th>영업비용</th>
                <th>당기순이익</th>
                <th>매출기준일 기업가치</th>
                <th>청약당시 기업가치</th>
                <th>매출기준일 주가</th>
                <th>발행주가</th>
                <th>배당액</th>
                <th>배당률</th>
                <th>주당배당금</th>
                <th>주당수익</th>
                <th>매출기준기간(시작)</th>
                <th>매출기준기간(종료)</th>
                <th>등록일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${afterFundrevenueList == null}">
                <td colspan="22">투자후 기업정보 공개 목록이 없습니다.</td>
            </tr>
            <tr th:unless="${afterFundrevenueList == null}" th:each="l : ${afterFundrevenueList}">
                <td>
                    <a th:href="@{/seller/investment/view/judge(afterFundrevenueCode=${l.afterFundrevenueCode})}"
                       th:text="${l.afterFundrevenueCode}"></a>
                </td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td th:text="${l}"></td>
                <td>
                    <a th:href="@{/seller/investment/update/after-fund-revenue(afterFundrevenueCode=${l.afterFundrevenueCode})}">수정</a>
                </td>
                <td>
                    <a th:href="@{/seller/investment/delete/after-fund-revenue(afterFundrevenueCode=${l.afterFundrevenueCode})}">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>

        <div class="board-page-area">
            <div class="list-controller-inner">
                <ul>
                    <li class="link-active"><a th:href="@{#}">1</a></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li>
                    <li><a th:href="@{#}">4</a></li>
                    <li><a th:href="@{#}">5</a></li>
                    <li><a th:href="@{#}">6</a></li>
                </ul>
                <div class="list-btn-area">
                    <button class="prev-transfer">
                        <span>prev</span>
                    </button>
                    <button class="next-transfer">
                        <span>next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="btn-area">
        <ul>
            <li>
                <button type="button" class="submitBtn"
                        th:onclick="|location.href='@{/seller/investment/insert/after-fund-revenue}'|">
                    등록하기
                </button>
                <button type="button" class="submitBtn"
                        th:onclick="|location.href='@{/seller/investment/update/after-fund-revenue}'|">
                    수정하기
                </button>
            </li>
        </ul>
    </div>

</th:block>
</html>