<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">

    <div th:include="~{admin/judgement/investment/search/invest_jduge_search :: searchFragment}"></div>
    <br>
    <div class="admin-content-wrapper">
        <table>
            <thead>
            <tr>
                <th>투자 심사요청 코드</th>
                <th>투자 심사요청 제목</th>
                <th>대표자 아이디</th>
                <th>스토어명</th>
                <th>회사명</th>
                <th>대표자 이름</th>
                <th>목표펀딩금액</th>
                <th>신청일자</th>
                <th>심사완료일자</th>
                <th>심사자</th>
                <th>심사결과</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${investmentRequestJudgeList == null}">
                <td colspan="13">투자 심사요청 목록이 없습니다.</td>
            </tr>
            <tr th:unless="${investmentRequestJudgeList == null}" th:each="l : ${investmentRequestJudgeList}">
                <td>
                    <a th:href="@{/admin/investment/view/judge(investmentRequestJudgeCode=${l.investmentRequestJudgeCode})}"
                       th:text="${l.investmentRequestJudgeCode}"></a>
                </td>
                <td th:text="${l.investmentRequestSubject}"></td>
                <td th:text="${l.memberIdSeller}"></td>
                <td th:text="${l.storeName}"></td>
                <td th:text="${l.investmentCompany}"></td>
                <td th:text="${l.representativeName}"></td>
                <td th:text="${l.investmentAchievementMoney}"></td>
                <td th:text="${l.investmentRequestDate}"></td>
                <td th:text="${l.investJudgeDate}"></td>
                <td th:text="${l.memberId}"></td>
                <td th:if="${l.investJudgeResult == 0}">심사 대기</td>
                <td th:if="${l.investJudgeResult == 1}">심사 승인</td>
                <td th:if="${l.investJudgeResult == 2}">심사 반려</td>
                <td>
                    <a th:href="@{/admin/investment/update/judge(investmentRequestJudgeCode=${l.investmentRequestJudgeCode})}">수정</a>
                </td>
                <td>
                    <a th:href="@{/admin/investment/delete/judge(investmentRequestJudgeCode=${l.investmentRequestJudgeCode})}">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>

        <button type="button" class="submitBtn" th:onclick="|location.href='@{/seller/investment/insert/judge}'|">
            등록하기
        </button>
        <button type="button" class="submitBtn" th:onclick="|location.href='@{/seller/investment/update/judge}'|">
            수정하기
        </button>

        <div class="board-page-area">
            <div class="list-controller-inner">
                <ul>
                    <li class="link-active"><a th:href="@{#}">1</a></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li>
                    <li><a th:href="@{#}">4</a></li>
                    <li><a th:href="@{#}">5</a></li>
                    <li><a th:href="@{#}">6</a></li>
                </ul>
                <div class="list-btn-area">
                    <button class="prev-transfer">
                        <span>prev</span>
                    </button>
                    <button class="next-transfer">
                        <span>next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</th:block>
</html>