<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team02.user.mapper.mypage.MypageRewardMapper">

    <resultMap id="rewardOrderInfoMap" type="MypageReward">
        <id property="paymentCode" column="reward_payment_code"/>
        <result property="orderCode" column="order_code"/>
        <result property="memberId" column="member_id"/>
        <result property="rewardRefundCode" column="reward_refund_code"/>
        <result property="switchingCode" column="switching_code"/>
        <result property="orderPrice" column="order_price"/>
        <result property="deliveryPrice" column="delivery_price"/>
        <result property="orderTotalPrice" column="order_total_price"/>
        <result property="useReservePrice" column="use_reserve_price"/>
        <result property="useReserveCode" column="use_reserve_code"/>
        <result property="discountRankPrice" column="discount_rank_price"/>
        <result property="discountCouponPrice" column="discount_coupon_price"/>
        <result property="paymentScheduledPrice" column="payment_scheduled_price"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="depositName" column="deposit_name"/>
        <result property="depositAccount" column="deposit_account"/>
        <result property="refundAccount" column="refund_account"/>
        <result property="depositPrice" column="deposit_price"/>
        <result property="paymentState" column="payment_state"/>
        <result property="paymentDeadlineDate" column="payment_deadline_date"/>
        <result property="paymentCompletedDate" column="payment_completed_date"/>
        <result property="projectThumbnailImage" column="project_thumbnail_image"/>
        <result property="rewardProjectCode" column="reward_project_code"/>
        <result property="projectSubject" column="project_subject"/>
        <result property="storeCode" column="store_code"/>

        <collection property="rewardOrderDetailList" javaType="list" ofType="RewardOrderDetail">
            <id property="rewardOrderDetailCode" column="rd_order_detail_code"/>
            <result property="rewardOptionCode" column="reward_option_code"/>
            <result property="orderCode" column="order_code"/>
            <result property="orderOptionAmount" column="order_option_amount"/>
            <result property="optionPrice" column="option_price"/>
            <result property="optionTotalPrice" column="option_total_price"/>
            <result property="optionName" column="option_name"/>
            <result property="optionContents" column="option_contents"/>
        </collection>
    </resultMap>
<!--    ㅇㅁㄹㄴ-->
    <!--구매자 주문, 결제정보 조회 -->
    <select id="rewardOrderInfo" parameterType="String" resultMap="rewardOrderInfoMap">
        SELECT
            p.reward_payment_code,
            p.order_code ,
            p.member_id ,
            p.reward_refund_code ,
            p.switching_code ,
            p.order_price ,
            p.delivery_price ,
            p.order_total_price ,
            p.use_reserve_price ,
            p.use_reserve_code ,
            p.discount_rank_price ,
            p.discount_coupon_price ,
            p.payment_scheduled_price ,
            p.payment_method ,
            p.deposit_name ,
            p.deposit_account ,
            p.refund_account ,
            p.deposit_price ,
            p.payment_state ,
            p.payment_deadline_date ,
            p.payment_completed_date ,
            r.project_thumbnail_image ,
            r.reward_project_code ,
            r.project_subject ,
            r.store_code,
            ro.option_price ,
            ro.order_option_amount ,
            rp.option_name ,
            rp.option_contents
        FROM
            reward_payment AS p
        INNER JOIN
            order_table AS o
        ON
            p.order_code = o.order_code
        INNER JOIN
            reward_project AS r
        ON
            r.reward_project_code = o.goods_code
        LEFT JOIN
            reward_order_detail AS ro
        ON
            o.order_code = ro.order_code
        INNER JOIN
            reward_option AS rp
        ON
            ro.reward_option_code = rp.reward_option_code
        WHERE
            p.order_code = #{orderCode};
    </select>

    <!--주문 취소,환불,교환 시 주문테이블 업데이트-->
    <update id="orderCancel" parameterType="MypageReward">
        UPDATE order_table
        <set>
            <if test = "changeCategory == '주문취소'">
                order_category_code = 'ORDC_014',
                order_category_detail = '주문 취소-구매자 신청'
            </if>
            <if test = "changeCategory == '환불'">
                order_category_code = 'ORDC_009',
                order_category_detail = '환불 처리중-환불 처리중'
            </if>
            <if test = "changeCategory == '교환'">
                order_category_code = 'ORDC_011',
                order_category_detail = '교환 처리중-교환 처리중'
            </if>
        </set>
        WHERE
            order_code = #{orderCode}
    </update>

    <!--주문 취소, 환불 시 환불 테이블 인서트-->
    <insert id="refundInsert" parameterType="MypageReward">
        <selectKey keyProperty="refundCode" resultType="String" order="BEFORE">
            SELECT
                (CASE
                    WHEN
                        COUNT(r.apc_code) = 0  THEN CONCAT('RAP_', CURDATE()+0, '_1')
                    ELSE
                        CONCAT('RAP_', CURDATE()+0 ,'_' ,MAX(CAST(substring_index(r.apc_code,'_',-1)AS UNSIGNED )+1))
                END) AS refundCode
            FROM
                refund_application as r
            WHERE
                SUBSTRING_INDEX(SUBSTRING_INDEX(r.apc_code,'_',2),'_',-1) = CURDATE()+0
        </selectKey>
        INSERT INTO refund_application
            (apc_code, order_code, order_partition, option_price, apc_amount, total_price,
            apc_subject, apc_title, apc_contents, apc_date, processing_status,
            processing_status_reason, processing_date, admin_id, apc_state, completed_date,
            store_code)
        <if test="changeCategory =='주문취소'">
            VALUES
                (#{refundCode},#{orderCode},'리워드',NULL,NULL,#{paymentScheduledPrice},
                #{refundSubejct},#{refundTitle},#{refundComments},
                NOW(),'승인',NULL,NULL,NULL,2,NOW(),#{storeCode});
        </if>
    </insert>

    <!--주문 취소,환불,교환 시 결제 테이블 업데이트-->
    <update id="paymentUpdate" parameterType="MypageReward">
        UPDATE reward_payment
        <set>
            <if test="changeCategory ='주문취소'">
                reward_refund_code = #{refundCode}
            </if>
        </set>
        WHERE
            order_code = #{orderCode}
    </update>
</mapper>