<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="col-lg-5" th:fragment="asideFragments">
    <div class="col-lg-12" style="height: 40px"></div>
    <div class="container" style="position: sticky; top: 100px; scroll-behavior: smooth;">
        <!--<div>
            <span style="display: inline-block;">
                <a th:href="@{#}" style="text-decoration: none; color: grey">111 ></a>
            </span>
            <span style="display: inline-block;">
                <div style="background: lightgrey; padding: 2px; border-radius: 10px">
                    <a th:href="@{#}" style="text-decoration: none; color: black">
                        <span>
                            <span style="color: #235FD9">#</span>
                            <span>222</span>
                        </span>
                    </a>
                </div>
            </span>
        </div>-->
        <div style="border: 0.3px solid #f3f4f5; margin: 10px 0px; width: 100%"></div>
        <div>
            <p style="font-weight: bold; font-size: 20px; color: black">마케팅 전문기업이 만든 스페셜티 커피 온라인 플랫폼, 커핑커피</p>
            <p>세종아이콘</p>
        </div>
        <div>
            <div>
                <span style="font-size: 20px; color: #235FD9; font-weight: bold">337</span>
                <span style="color: #235FD9">명 참여</span>
                <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">11일남음</span>
            </div>
            <div>
                <span style="font-size: 20px; color: black; font-weight: bold;">480,200</span>
                <span style="color: black">원 달성</span>
                <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">34% 달성</span>
            </div>
        </div>
        <div style="border: 0.3px solid #f3f4f5; margin: 10px 0px; width: 100%"></div>
        <div>
            <button id="investmentBtn" type="button" style="background: #235FD9; width: 100%; height: 100px; font-size: 30px; color: white;">투자하기</button>
        </div>
        <div style="height: 20px"></div>
        <div style="border: 3px solid #f3f4f5; border-radius: 5px; padding: 5px; text-align: center">
            <div>
                <span>증권구분</span><br>
                <span style="color: black; font-size : 15pt;">주식형</span>
            </div>
        </div>
        <div style="border: 3px solid #f3f4f5; border-radius: 5px; padding: 20px; text-align: center">
            <div>
                <div style="color: black; font-weight: bold; font-size: 20px">세종아이콘</div>
                <div>세종아이콘(주)은 23년 업력의 디자인, 홍보, 영상, IT, 비즈니스플랫폼 사업을 수행하는 사회적기업입니다. 스페셜티 커피 온라인 쇼핑플랫폼 '커핑커피', 임산물 전용 '숲살림' 서비스를 운영하고 있습니다.</div>
            </div>
        </div>

    </div>
</div>

</html>