<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
    <!-- Link Swiper's CSS -->
    <style>
        .category-button {
            border: none;
            border-radius: 25px; /* 라운드 처리 반경을 조정합니다. */
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .category-li{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 20px;
        }
        .selected {
            font-weight: bold;
            color: black;
        }
        ul.d-flex li:hover {
            cursor: pointer;
        }
        .donation-item-box{
            width: 350px;
            height: 300px;
        }
        .donation-item-first-child{
            background: grey;
            width: 350px;
            height: 200px;
            border-radius: 5px;
        }
        .donation-item-second-child{
            width: 350px;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .donation-item-third-child{
            width: 350px;
            height: auto;
            font-weight: bolder;
            color: black;
            font-size: 15px;
        }
        .donation-item-fourth-child{
            width: 350px;
            height: auto;
        }
        .donation-item-span-first{
            font-weight: bold;
            font-size: 20px;
            color: #235FD9;
        }
        .donation-item-span-second{
            margin-left: 5px;
        }
        .donation-item-span-third{
            margin-left: auto;
            color: #235FD9;
            background: #cce5ff;
            font-size: 12px;
            padding: 2px;
            border-radius: 5px;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/user/css/swiper-event-css.css}" />
    <link rel="stylesheet" th:href="@{/user/css/main_style.css}" />

</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- 	  	<script th:src="@{user/js/swiper-slide-event.js}"></script> -->

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--  다음 주소찾기 api   -->



</th:block>


<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

    <script>
        $(function(){

            // 다음 버튼 클릭시 페이지 이동, 선택한 옵션 정보 입력
            $('.nextBtn').click(function(){

                if($('#orderInfo').find('input[type="checkbox"]:checked').length < 1) {
                    alert('리워드를 선택해 주세요');
                    return;
                }
                $(this).parents('.info-contents-area').hide();
                $(this).parents('.info-contents-area').next().show();

                $('#selectedOption').html('');

                let selectOption = $('#orderInfo').find('input[type="checkbox"]:checked').parents('.selectOption');
                $(selectOption).each(function(idx,item){

                    let optionName = $(item).find('.optionName').text();
                    let optionPrice =$(item).find('.optionPrice').text();
                    let optionAmount =$(item).find('.optionAmount').val();
                    let optionDeliverPrice = $(item).find('.optionDeliverPrice').text();


                    let addSelectedOption;
                    if(idx === $(selectOption).length-1) {

                        addSelectedOption = $('<div>\n' +
                            '                                    <span class="orderOptionName ml-2"></span>\n' +
                            '                                    <span class="orderOptionPrice font-weight-bold float-right mr-lg-2"></span>\n' +
                            '                                    <span class="font-weight-bold float-right mr-lg-2">수량:<span class="orderOptionAmount"></span>개</span>\n' +

                            '                                    <div style="border: 0.3px solid black; margin: 5px; width: 100%"></div>\n' +
                            '\n' +
                            '                                    <span class="orderOptionDeliverPrice ml-2">배송비</span>\n' +
                            '                                    <span id="deliverPrice" class ="font-weight-bold float-right mr-2">무료 배송</span>\n' +
                            '                                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>\n' +
                            '\n' +
                            '                                    <span class="ml-2">쿠폰 사용</span>\n' +
                            '                                    <span class ="font-weight-bold float-right mr-2">사용 가능한 쿠폰이 없습니다</span>\n' +
                            '                                    <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>\n' +
                            '\n' +
                            '                                    <span class="ml-2">포인트 사용</span>\n' +
                            '                                    <div class="form-check float-right font-weight-bold float-right mr-1">\n' +
                            '                                        <input class="form-check-input" type="checkbox" value="" id="pointAllCheck">\n' +
                            '                                        <label class="form-check-label" for="pointAllCheck">\n' +
                            '                                            모두 사용 (보유 포인트<span id="havePoint">0</span>P)\n' +
                            '                                        </label>\n' +
                            '                                        <br>\n' +
                            '                                        <input id="usePoint" type="number" class="float-right mr-2 h-75" value="0" style="width: 80px;">\n' +
                            '                                    </div>\n' +
                            '                                    <br><br>\n' +
                            '                                    <div style="border: 0.3px solid black; margin: 5px; width: 100%"></div>\n' +
                            '                                </div>');

                        $(addSelectedOption).find('.orderOptionName').text(optionName);
                        $(addSelectedOption).find('.orderOptionPrice').text(Number(optionPrice.replaceAll('원','').replaceAll(',','')) * optionAmount);
                        $(addSelectedOption).find('.orderOptionAmount').text(optionAmount);
                        $(addSelectedOption).find('.orderOptionDeliverPrice').text(optionDeliverPrice);
                    } else{

                        addSelectedOption = $('<div class="my-lg-1" style="height: 35px">\n' +
                            '                                    <span class="orderOptionName ml-2"></span>\n' +
                            '                                    <span class="orderOptionPrice font-weight-bold float-right mr-lg-2"></span>\n' +
                            '                                    <span class="font-weight-bold float-right mr-lg-2">수량:<span class="orderOptionAmount"></span>개</span>\n' +
                            '                                    <div style="border: 0.2px solid #f3f4f5; margin: 5px; width: 100%"></div>\n' +
                            '                                    <br>\n' +
                            '                                </div>');

                        $(addSelectedOption).find('.orderOptionName').text(optionName);
                        $(addSelectedOption).find('.orderOptionPrice').text(Number(optionPrice.replaceAll('원','').replaceAll(',','')) * optionAmount);
                        $(addSelectedOption).find('.orderOptionAmount').text(optionAmount);
                    }



                    $('#selectedOption').append($(addSelectedOption));
                });

            });

            // 이전 버튼 클릭시 페이지 이동
            $('.prevBtn').click(function(){
                $(this).parents('.info-contents-area').hide();
                $(this).parents('.info-contents-area').prev().show();
            });

            //배송 메세지 선택 시, 기타 옵션 선택하면 기타 요청사항 입력받게
            $('#deliverRequest').change(function(){
                let isElseSelected = $(this).val() === 'DELM_005';
                if(!isElseSelected){
                    $('#elseDeliverRequest').val('');
                }
                $('#elseDeliverRequest').prop('disabled',!isElseSelected);


            })

            //약관 체크 모두 될 시 모두 동의에 체크.
            $('.essential').not('#agreeNews').click(function(){
                let checkLength = $('.essential').not('#agreeNews').length;
                let checkedLength = $('.essential:checked').not('#agreeNews').length;
                let isAllCheck = checkLength === checkedLength;
                $('#allCheck').prop('checked',isAllCheck);
            });

            //약관 모두 동의 체크시 모두 동의
            $('#allCheck').click(function(){
                $('.essential').not('#agreeNews').prop('checked',$(this).prop('checked'));
            });

            //옵션 수량 음수로는 선택할 수 없게
            $('.optionAmount').change(function(){
                if($(this).val() < 1) {
                    $(this).val(1);
                }
            })

            //옵션 선택될 시 기본값 1주고 수량 바꿀 수 있게, 선택 안될 시 값0으로 주고 수량 못바꾸게
            $('.selectOption input:checkbox').change(function(){
                let optionAmount = $(this).parent().find('.optionAmount');

                if($(this).prop('checked')) {
                    $(optionAmount).attr('readonly',false)
                    if($(optionAmount).val() < 1) {
                        $(optionAmount).val(1);
                    }
                } else{
                    $(optionAmount).val(0);
                    $(optionAmount).attr('readonly',true)
                }
            });

            //결제하기 누를 시 필수 약관동의 모두 체크되었는지 확인
            $('.paymentBtn').click(function(){
                $('.essential').each(function(idx,item){
                    if(!$(item).prop('checked')) {
                        alert('필수 약관에 모두 동의해주세요');
                        $(item).focus();
                        return false;
                    }
                });
            });

            //주소 찾기 클릭시 daum주소 api 호출
            $('.findAddrBtn, #deliverMemberAddr').click(function(){

                new daum.Postcode({
                    oncomplete: function(data) { //선택시 입력값 세팅
                        $('#deliverMemberAddr').val(data.address); // 주소 넣기
                    }
                }).open();
            })



        })
        //사용 포인트 음수로 입력하지 못하게
        $(document).on('change', '#usePoint', function(){
            if($(this).val() < 0) {
                $(this).val(0);
            }
        })







    </script>






</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">

    <section id="storeInnerGroup" class="content-wrap">

        <div class="main-section container">




            <div id="orderInfo" class="info-contents-area" style="display: block;">

                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <br>
                            <h3>리워드 상품을 선택해 주세요.</h3>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <cite title="Source Title">지금 바로 플로키에서!</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-8">

                        <form>
                            <h5>리워드 선택</h5>
                            <br>

                            <div class="selectOption form-check mb-lg-2 text-dark">
                                <input class="form-check-input" type="checkbox" value="" id="option1">
                                <div style="border: 1px solid #7D7D7D; border-radius: 25px;">
                                    <label class="optionLabel form-check-label col-lg-12 pb-lg-3" for="option1">
                                        <span class="optionPrice font-weight-bold ml-2">20,000원</span>
                                        <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">
                                            <span class="optionRemainQuantity">300</span>개 남음
                                        </span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionName ml-2">옵션 1</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionContents ml-2">옵션1 상세 내용~~~</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">주문 수량</span>
                                        <input type="number" class="optionAmount float-right mr-lg-2 h-75" style="width: 40px" value="0" readonly="readonly">
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">배송비</span>
                                        <span class ="optionDeliverPrice font-weight-bold float-right mr-2">무료 배송</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">발송 시작일</span>
                                        <span class ="optionDeliverDate font-weight-bold float-right mr-2">2023-11-05</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">제한 수량</span>
                                        <span class ="optionLimitQuantity font-weight-bold float-right mr-2 text-danger">300개</span>
                                    </label>
                                </div>
                            </div>

                            <div class="selectOption form-check mb-lg-2 text-dark">
                                <input class="form-check-input" type="checkbox" value="" id="option2">
                                <div style="border: 1px solid #7D7D7D; border-radius: 25px;">
                                    <label class="optionLabel form-check-label col-lg-12 pb-lg-3" for="option2">
                                        <span class="optionPrice font-weight-bold ml-2">25,000원</span>
                                        <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">
                                            <span class="optionRemainQuantity">300</span>개 남음
                                        </span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionName ml-2">옵션 2</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionContents ml-2">옵션2 상세 내용~~~</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">주문 수량</span>
                                        <input type="number" class="optionAmount float-right mr-lg-2 h-75" style="width: 40px" value="0" readonly="readonly">
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">배송비</span>
                                        <span class ="optionDeliverPrice font-weight-bold float-right mr-2">무료 배송</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">발송 시작일</span>
                                        <span class ="optionDeliverDate font-weight-bold float-right mr-2">2023-11-05</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">제한 수량</span>
                                        <span class ="optionLimitQuantity font-weight-bold float-right mr-2 text-danger">300개</span>
                                    </label>
                                </div>
                            </div>


                            <div class="selectOption form-check mb-lg-2 text-dark">
                                <input class="form-check-input" type="checkbox" value="" id="option3">
                                <div style="border: 1px solid #7D7D7D; border-radius: 25px;">
                                    <label class="optionLabel form-check-label col-lg-12 pb-lg-3" for="option3">
                                        <span class="optionPrice font-weight-bold ml-2">30,000원</span>
                                        <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">
                                            <span class="optionRemainQuantity">300</span>개 남음
                                        </span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionName ml-2">옵션 3</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionContents ml-2">옵션3 상세 내용~~~</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">주문 수량</span>
                                        <input type="number" class="optionAmount float-right mr-lg-2 h-75" style="width: 40px" value="0" readonly="readonly">
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">배송비</span>
                                        <span class ="optionDeliverPrice font-weight-bold float-right mr-2">무료 배송</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">발송 시작일</span>
                                        <span class ="optionDeliverDate font-weight-bold float-right mr-2">2023-11-05</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">제한 수량</span>
                                        <span class ="optionLimitQuantity font-weight-bold float-right mr-2 text-danger">300개</span>
                                    </label>
                                </div>
                            </div>


                            <div class="selectOption form-check mb-lg-2 text-dark">
                                <input class="form-check-input" type="checkbox" value="" id="option4">
                                <div style="border: 1px solid #7D7D7D; border-radius: 25px;">
                                    <label class="optionLabel form-check-label col-lg-12 pb-lg-3" for="option4">
                                        <span class="optionPrice font-weight-bold ml-2">35,000원</span>
                                        <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">
                                            <span class="optionRemainQuantity">300</span>개 남음
                                        </span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionName ml-2">옵션 4</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionContents ml-2">옵션4 상세 내용~~~</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">주문 수량</span>
                                        <input type="number" class="optionAmount float-right mr-lg-2 h-75" style="width: 40px" value="0" readonly="readonly">
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">배송비</span>
                                        <span class ="optionDeliverPrice font-weight-bold float-right mr-2">무료 배송</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">발송 시작일</span>
                                        <span class ="optionDeliverDate font-weight-bold float-right mr-2">2023-11-05</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">제한 수량</span>
                                        <span class ="optionLimitQuantity font-weight-bold float-right mr-2 text-danger">300개</span>
                                    </label>
                                </div>
                            </div>


                            <div class="selectOption form-check mb-lg-2 text-dark">
                                <input class="form-check-input" type="checkbox" value="" id="option5">
                                <div style="border: 1px solid #7D7D7D; border-radius: 25px;">
                                    <label class="optionLabel form-check-label col-lg-12 pb-lg-3" for="option5">
                                        <span class="optionPrice font-weight-bold ml-2">40,000원</span>
                                        <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">
                                            <span class="optionRemainQuantity">300</span>개 남음
                                        </span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionName ml-2">옵션 5</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionContents ml-2">옵션5 상세 내용~~~</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">주문 수량</span>
                                        <input type="number" class="optionAmount float-right mr-lg-2 h-75" style="width: 40px" value="0" readonly="readonly">
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">배송비</span>
                                        <span class ="optionDeliverPrice font-weight-bold float-right mr-2">무료 배송</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">발송 시작일</span>
                                        <span class ="optionDeliverDate font-weight-bold float-right mr-2">2023-11-05</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">제한 수량</span>
                                        <span class ="optionLimitQuantity font-weight-bold float-right mr-2 text-danger">300개</span>
                                    </label>
                                </div>
                            </div>


                            <div class="selectOption form-check mb-lg-2 text-dark">
                                <input class="form-check-input" type="checkbox" value="" id="option6">
                                <div style="border: 1px solid #7D7D7D; border-radius: 25px;">
                                    <label class="optionLabel form-check-label col-lg-12 pb-lg-3" for="option6">
                                        <span class="optionPrice font-weight-bold ml-2">45,000원</span>
                                        <span style="margin-left: 5px; background: #daf6fb; color: #235FD9; border-radius: 5px; padding: 2px;">
                                            <span class="optionRemainQuantity">300</span>개 남음
                                        </span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionName ml-2">옵션 6</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="optionContents ml-2">옵션6 상세 내용~~~</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">주문 수량</span>
                                        <input type="number" class="optionAmount float-right mr-lg-2 h-75" style="width: 40px" value="0" readonly="readonly">
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">배송비</span>
                                        <span class ="optionDeliverPrice font-weight-bold float-right mr-2">무료 배송</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">발송 시작일</span>
                                        <span class ="optionDeliverDate font-weight-bold float-right mr-2">2023-11-05</span>
                                        <div style="border: 0.3px solid #f3f4f5; margin: 5px; width: 100%"></div>

                                        <span class="ml-2">제한 수량</span>
                                        <span class ="optionLimitQuantity font-weight-bold float-right mr-2 text-danger">300개</span>
                                    </label>
                                </div>
                            </div>




                            <br>

                            <button class="nextBtn w-80 btn btn-primary btn-lg" type="button">다음단계</button>

                        </form>

                    </div>
                </div>

            </div>


            <div id="paymentInfo" class="info-contents-area" style="display: none;">

                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <br>
                            <h3>결제 정보를 작성해주세요</h3>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <cite title="Source Title">지금 바로 플로키에서!</cite>
                        </figcaption>
                    </figure>
                </div>

                <div class="row text-dark">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-8">

                        <form>
                            <h5>결제 하기</h5>
                            <br>
                            <div id="selectedOption">

                            </div>


                            <br><br><br>
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="mr-lg-2">서포터</h5>
                                    <div class=" ml-lg-2 bg-light">
                                        <div class="ml-lg-2">

                                            <p class="font-weight-bold">이름</p>
                                            <p id="memberName">홍길동</p>
                                            <p class="mt-lg-3 font-weight-bold">이메일</p>
                                            <p id="memberEmail">email01@email.com</p>
                                            <p class="mt-lg-3 font-weight-bold">휴대폰 번호</p>
                                            <p id="memberMobile" class="mb-lg-5">010-1111-1111</p>

                                            <div class="form-check">
                                                <input class="essential form-check-input" type="checkbox" value="" id="agreeNews">
                                                <label class="form-check-label" for="agreeNews">
                                                    (필수) 프로젝트 진행에 대한 새소식 및 결제 관련 안내를 받습니다
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-6">
                                    <div class="ml-lg-3">
                                        <h5 class="mr-lg-2">리워드 배송지</h5>

                                        <div class="form-check mt-lg-3">
                                            <input class="form-check-input" type="checkbox" value="" id="memberAddr">
                                            <label class="form-check-label font-weight-bold" for="memberAddr">
                                                기존 배송지 추가
                                            </label>
                                        </div>

                                        <label for="deliverMemberName" class="font-weight-bold text-dark mt-lg-2">이름</label>
                                        <br>
                                        <input type="text" class="w-100" id="deliverMemberName" value="" style="height: 35px">
                                        <br>
                                        <label for="deliverMemberMobile" class="font-weight-bold text-dark mt-lg-2">휴대폰번호</label>
                                        <br>
                                        <input type="text" class="w-100" id="deliverMemberMobile" value="" style="height: 35px">
                                        <br>
                                        <label for="deliverMemberAddr" class="font-weight-bold text-dark mt-lg-2">주소</label>
                                        <br>
                                        <button type="button" class="findAddrBtn btn btn-small btn-secondary" id="findAddrBtn">주소 찾기</button>
                                        <br>
                                        <input type="text" class="w-100 mt-lg-1" id="deliverMemberAddr" value="" style="height: 35px" placeholder="주소를 입력해 주세요" readonly="readonly">
                                        <input type="text" class="w-100 mt-lg-1" id="deliverMemberAddrDetail" value="" style="height: 35px" placeholder="상세 주소를 입력해 주세요">
                                        <br>
                                        <label for="deliverRequest" class="font-weight-bold text-dark mt-lg-2">배송 요청사항</label>
                                        <br>
                                        <select id="deliverRequest">
                                            <option value="DELM_001">문 앞에 두고 가주세요</option>
                                            <option value="DELM_002">배송 전에 연락 해주세요</option>
                                            <option value="DELM_003">부재시 문 앞에 놓아주세요</option>
                                            <option value="DELM_004">부재시 경비실에 맡겨주세요</option>
                                            <option value="DELM_005">기타</option>
                                        </select>
                                        <!--                                        <input type="text" class="w-100" id="deliverRequest" value="" style="height: 35px">-->
                                        <br>
                                        <input type="text" class="w-100 mt-lg-2" id="elseDeliverRequest" value="" style="height: 35px" placeholder="기타" disabled>
                                        <br>

                                    </div>
                                </div>
                            </div>

                            <div class="mt-lg-5 mb-lg-5" style="border: 2px solid #4d4d4d; margin: 5px; width: 100%"></div>

                            <div class="ml-lg-2">
                                <h5>결제 수단</h5>
                                <div class="ml-lg-3 mt-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="naverPay">
                                        <label class="form-check-label" for="naverPay">
                                            네이버페이
                                        </label>
                                    </div>
                                    <div style="border: 0.2px solid #f3f4f5; margin: 5px; width: 100%"></div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="kakaoPay">
                                        <label class="form-check-label" for="kakaoPay">
                                            카카오페이
                                        </label>
                                    </div>
                                    <div style="border: 0.2px solid #f3f4f5; margin: 5px; width: 100%"></div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="creditCard">
                                        <label class="form-check-label" for="creditCard">
                                            신용카드
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="ml-lg-2 mt-lg-5">
                                <h5>약관 동의</h5>
                                <div class="ml-lg-3 mt-lg-4">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="allCheck">
                                        <label class="form-check-label" for="allCheck">
                                            필수 약관 모두동의
                                        </label>
                                    </div>
                                    <div style="border: 0.2px solid #f3f4f5; margin: 5px; width: 100%"></div>
                                    <div class="form-check">
                                        <input class="essential form-check-input" type="checkbox" value="" id="agree1">
                                        <label class="form-check-label" for="agree1">
                                            구매조건, 결제 진행 및 결제 대행 서비스 동의(필수)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="essential form-check-input" type="checkbox" value="" id="agree2">
                                        <label class="form-check-label" for="agree2">
                                            개인정보 제3자 제공 동의 (필수)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="essential form-check-input" type="checkbox" value="" id="agree3">
                                        <label class="form-check-label" for="agree3">
                                            책임 규정에 대한 동의 (필수)
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <br><br>
                            <button class="prevBtn w-80 btn btn-secondary btn-lg" type="button">이전단계</button>
                            <button class="paymentBtn w-80 btn btn-primary  btn-lg" type="button">결제하기</button>

                        </form>
                    </div>


                </div>

            </div>

        </div>

    </section>



</th:block>
</html>