<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team02.user.mapper.reward.RewardMapper">

    <!--   리워드 프로젝트 resultMap -->
    <resultMap id="RewardResultMap" type="RewardProject">
        <id property="rewardProjectCode" column="reward_project_code"/>
        <result property="rewardCategoryCode" column="total_cagegory_code"/>
        <result property="projectJudgementReasonCode" column="project_judgement_reason_code"/>
        <result property="regMemberId" column="member_id"/>
        <result property="adminMemberId" column="admin_member_id"/>
        <result property="storeCode" column="store_code"/>
        <result property="projectSubject" column="project_subject"/>
        <result property="projectContents" column="project_contents"/>
        <result property="rewardLike" column="reward_like"/>
        <result property="projectThumbnailImage" column="project_thumbnail_image"/>
        <result property="projectAchievementMoney" column="project_achievement_money"/>
        <result property="projectGoalMoney" column="project_goal_money"/>
        <result property="projectAchievementPercent" column="project_achievement_percent"/>
        <result property="regCompany" column="reg_company"/>
        <result property="projectRegDate" column="project_reg_date"/>
        <result property="searchCount" column="search_count"/>
        <result property="projectJudgmentReason" column="project_judgment_reason_detail"/>
        <result property="projectJudgementDate" column="project_judgment_date"/>
        <result property="projectStartDate" column="project_start_date"/>
        <result property="projectEndDate" column="project_end_date"/>
        <result property="projectCondition" column="project_condition"/>
        <result property="storeImage" column="store_image"/>
        <result property="storeLike" column="like_count"/>
        <result property="storeMobile" column="contact_info"/>
        <result property="categoryName" column="category_name"/>

        <collection property="rewardOptionList" javaType="list" ofType="RewardOption">
            <id property="rewardOptionCode" column="reward_option_code"/>
            <result property="rewardProjectCode" column="reward_project_code"/>
            <result property="optionContents" column="option_contents"/>
            <result property="optionPrice" column="option_price"/>
            <result property="optionLimitQuantity" column="option_limit_quantity"/>
            <result property="optionName" column="option_name"/>
            <result property="optionDeliveryPrice" column="option_delivery_price"/>
            <result property="optionEstimatedDeliveryDate" column="option_estimated_delivery_date"/>
        </collection>
    </resultMap>

    <!--구매자 회원 정보 resultMap-->
    <resultMap type="Member" id="memberResultMap">
        <id property="memberId" column="member_id"/>
        <result property ="memberTypeCode" column="member_type_code"/>
        <result property="memberName" column="member_name"/>
        <result property="memberPw" column="member_pw"/>
        <result property="memberRegDate" column="member_reg_date"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberContactInfo" column="contact_info"/>
        <result property="unRegDate" column="unreg_date"/>
        <result property="unRegStatus" column="unreg_status"/>


        <association property="customer" javaType="Customer">
            <id property="customerCode" column="customer_code"/>
            <result property="customerMemberId" column="member_id"/>
            <result property="rewardRankCode" column="reward_rank_code"/>
            <result property="donationRankCode" column="donation_rank_code"/>
            <result property="customerGender" column="customer_gender"/>
            <result property="customerBirth" column="customer_birth"/>
            <result property="customerAddr" column="customer_addr"/>
            <result property="customerAddrDetail" column="customer_addr_detail"/>
            <result property="customerPoint" column="customer_point"/>
            <result property="customerFlover" column="customer_flover"/>
            <result property="customerCoupon" column="customer_coupon"/>
        </association>

        <association property="rewardCustomerRank" javaType="RewardCustomerRank">
            <id property="rewardRankCode" column="reward_rank_code"/>
            <result property="rankName" column="rank_name"/>
            <result property="discountRate" column="discount_rate"/>
            <result property="rankUpgradeAmount" column="rank_upgrade_amount"/>
            <result property="pointSavingRate" column="point_saving_rate"/>
        </association>
    </resultMap>

    <!--주문 회원 정보 조회-->
    <select id="getOrderMemberInfo" parameterType="String" resultMap="memberResultMap">

        SELECT
            m.member_name,
            m.member_email,
            m.contact_info,
            c.customer_gender,
            c.customer_birth,
            c.customer_addr,
            c.customer_addr_detail,
            c.customer_point,
            cr.rank_name,
            cr.discount_rate,
            cr.point_saving_rate
        FROM
            member AS m
        INNER JOIN
            customer AS c
        ON
            m.member_id= c.member_id
        INNER JOIN
            reward_customer_rank AS cr
        ON
            c.reward_rank_code = cr.reward_rank_code
        INNER JOIN
            donation_customer_rank AS dr
        ON
            c.donation_rank_code = dr.donation_rank_code
        WHERE
            m.member_id = #{memberId};
    </select>
    <!--리워드 프로젝트 등록-->
    <insert id="addRewardProject" parameterType="RewardProject">
        <selectKey keyProperty="rewardProjectCode,storeCode,regCompany" resultType="hashmap" order="BEFORE">
            SELECT
                (
                CASE
                WHEN
                    COUNT(r.project_reg_date) = 0     THEN CONCAT('rwd_', CURDATE()+0, '_0001')
                WHEN
                    COUNT(r.project_reg_date) > 9999  THEN CONCAT('rwd', CURDATE()+0, '_', COUNT(r.project_reg_date)+1)
                ELSE
                    CONCAT('rwd_', CURDATE()+0, '_', LPAD(COUNT(r.project_reg_date)+1, 4, '0'))
                END ) AS rewardProjectCode,
                (SELECT
                    s.store_code
                FROM
                    store AS s
                WHERE
                    s.member_id = 'id003') AS storeCode,
                (SELECT
                    s.store_name
                FROM
                    store AS s
                WHERE
                    s.member_id = 'id003') AS regCompany
            FROM
                reward_project AS r
            WHERE
                DATE_FORMAT(r.project_reg_date, '%Y-%m-%d') = CURDATE();
        </selectKey>
        INSERT INTO reward_project
            (reward_project_code, store_code, reg_company, member_id, project_judgement_reason_code, admin_member_id, total_cagegory_code, project_subject, reward_like,
            project_contents, project_thumbnail_image, project_reg_date, project_start_date, project_end_date, project_achievement_money,
            project_goal_money, project_achievement_percent, project_judgment_reason_detail, project_judgment_date, search_count, project_condition)
        VALUES
            (#{rewardProjectCode}, #{storeCode}, #{regCompany}, #{regMemberId}, NULL, NULL, #{rewardCategoryCode}, #{projectSubject}, 0, #{projectContents},
            #{projectThumbnailImage}, NOW(), NULL, #{projectEndDate}, 0, #{projectGoalMoney}, 0, NULL, NULL, 0, 0);

    </insert>

    <!--리워드 옵션 등록-->
    <insert id="rewardOptionAdd" parameterType="RewardOption">

        INSERT INTO reward_option
            (reward_option_code, reward_project_code, option_contents, option_price, option_limit_quantity, option_name, option_delivery_price, option_estimated_delivery_date)
        VALUES
            (sf_new_option_cd(), #{rewardProjectCode},#{optionContents},#{optionPrice},#{optionLimitQuantity},#{optionName},#{optionDeliveryPrice},#{optionEstimatedDeliveryDate})
    </insert>


    <!--리워드프로젝트 전체 조회-->
    <select id="rewardProjectList" resultMap="RewardResultMap">
        SELECT
            r.reward_project_code,
            r.total_cagegory_code,
            r.project_judgement_reason_code,
            r.member_id,
            r.admin_member_id,
            r.store_code,
            r.project_subject,
            r.project_contents,
            r.reward_like,
            r.project_thumbnail_image,
            r.project_achievement_money,
            r.project_goal_money,
            r.project_achievement_percent,
            r.reg_company,
            r.project_reg_date,
            r.search_count,
            r.project_judgment_reason_detail,
            r.project_judgment_date,
            r.project_start_date,
            r.project_end_date,
            r.project_condition
        FROM
            reward_project AS r
    </select>

    <!--리워드 상세 페이지-->
    <select id ="rewardProjectDetail" resultMap="RewardResultMap" parameterType="String">
        SELECT
            r.reward_project_code,
            r.project_subject,
            r.project_contents,
            r.reward_like,
            r.project_thumbnail_image,
            r.project_achievement_money,
            r.project_goal_money,
            r.project_achievement_percent,
            r.reg_company,
            r.project_reg_date,
            r.project_start_date,
            r.project_end_date,
            r.project_condition,
            o.reward_option_code,
            o.option_contents,
            o.option_price,
            o.option_limit_quantity,
            o.option_name,
            o.option_delivery_price,
            o.option_estimated_delivery_date,
            s.store_image,
            s.like_count,
            m.contact_info,
            t.category_name
        FROM
            reward_project AS r
        INNER JOIN
            reward_option AS o
        ON
            r.reward_project_code = o.reward_project_code
        INNER JOIN
            store AS s
        ON
            r.store_code = s.store_code
        INNER JOIN
            total_category AS t
        On
            r.total_cagegory_code = t.total_category_code
        INNER JOIN
            member AS m
        ON
            s.member_id = m.member_id
        WHERE
            r.reward_project_code = #{rewardProjectCode};
    </select>


</mapper>