<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="">
<title>project infomation</title>
</head>
<body>
	<h1>한국스마트정보교육원 48기 2팀 프로젝트</h1>
	<ul>
		<li>팀장 : 전슬지</li>
		<li>강오진</li>
		<li>김상민</li>
		<li>김시원</li>
		<li>김정민</li>
		<li>김진현</li>
		<li>홍설아</li>
	</ul>
	<ul>
		<li><a href="./user" target="_blank ">!메인화면 (index) (슬지)</a></li>
		<li><a href="./admin" target="_blank">!관리자 어드민 메인화면 (슬지)</a></li>
		<li><a href="./seller" target="_blank">!판매자 어드민 메인화면 (슬지)</a></li>
		<li><a href="./user/account/login" target="_blank">!로그인(설아) </a></li>
		<li><a href="./user/account" target="_blank">!회원가입 (설아)</a></li>
		<li><a href="./user/mypage" target="_blank">!마이페이지 (설아)</a></li>
	</ul>
</body>
</html>