<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>project infomation</title>
	<link rel="stylesheet" th:href="@{/common/css/intro-css.css}">
	<link rel="stylesheet" th:href="@{/common/css/font/font.css}">
</head>
<body>
	<div id="wrap">
		<div class="info-title-area">
			<h3>한국스마트정보교육원 48기 2팀</h3>
			<h1 id="title">
				<span style="--variable-index : 0">크</span>
				<span style="--variable-index : 1">라</span>
				<span style="--variable-index : 2">우</span>
				<span style="--variable-index : 3">드</span>
				<span style="--variable-index : 4">펀</span>
				<span style="--variable-index : 5">딩</span>
				<span style="--variable-index : 6"></span>
				<span style="--variable-index : 7">플</span>
				<span style="--variable-index : 8">랫</span>
				<span style="--variable-index : 9">폼</span>
				<span style="--variable-index : 10"></span>
				<span style="--variable-index : 11">프</span>
				<span style="--variable-index : 12">로</span>
				<span style="--variable-index : 13">젝</span>
				<span style="--variable-index : 14">트</span>
			</h1>
		</div>
	</div>

	<ul>
		<p>========= 로그인 계정 ==========</p>
		<div>
			<span style="float: left; margin-right: 10px;">
			관리자 계정<br>
			아이디 : id001<br>
			비밀번호 : pw001<br>
			</span>
			<span style="float: left; margin-right: 10px">
			판매자 계정<br>
			아이디 : id003<br>
			비밀번호 : pw003<br>
			</span>
			<span>
			구매자 계정<br>
			아이디 : id005<br>
			비밀번호 : pw005<br>
			</span>
		</div>
		<p>====================</p>
		<li>팀장 : 전슬지</li>
		<p>====================</p>
		<li>강오진</li>

		<p>관리자 투자 펀딩 페이지</p>

		<li><a href="./admin/investment/search/investment" target="_blank">! 관리자 투자 펀딩 공고 페이지</a></li>
		<li><a href="./admin/investment/search/judge" target="_blank">! 관리자 투자 펀딩 심사요청 페이지</a></li>
		<li><a href="./admin/investment/search/corporate-value" target="_blank">! 관리자 기업가치 평가 페이지</a></li>
		<li><a href="./admin/investment/search/law-satistify" target="_blank">! 관리자 자본시장법 범위충족기준 페이지</a></li>
		<li><a href="./admin/investment/search/incongruity-sectors" target="_blank">! 관리자 부적합 업종 페이지</a></li>

		<p>판매자 투자 펀딩 페이지[판매자 로그인 필요]</p>

		<li><a href="./seller/investment/invest-main" target="_blank">! 판매자 프로젝트 목록 페이지</a></li>
		<li><a href="./seller/investment/search/judge" target="_blank">! 판매자 투자펀딩 심사요청 페이지</a></li>
		<li><a href="./seller/investment/search/after-fund-revenue" target="_blank">! 판매자 투자후 기업정보 공개 페이지</a></li>
		<li><a href="./seller/investment/search/customer-invest" target="_blank">! 판매자 운영후 투자자 손익 페이지</a></li>
		<li><a href="./seller/investment/search/after-invest-division" target="_blank">! 판매자 투자 후 분배 페이지</a></li>
		<p>====================</p>
		<li>김상민</li>
		<p>====================</p>
		<li>김시원</li>
		<p>====================</p>
		<li>김정민</li>
		<p>프로세스 요약 [판매자 프로젝트 등록 페이지[판매자 로그인 필요] -> 관리자 심사 승인 페이지 -> 판매자 페이지에서 프로젝트 시작[판매자 로그인 필요] -> 구매자 구매[구매자 로그인 필요]</p>
		<li><a href="./user/donation" target="_blank">! 기부 메인 화면</a></li>
		<li><a href="./user/donation/detail?donationCode=don_20231117_0001" target="_blank">! 기부 상세 화면[스토리, 새소식, 기부금 사용현황, 댓글 작성 // 댓글 작성은 구매자 로그인 필요]</a></li>
		<li><p>! 기부 상세 화면[기부금 모금하기] -> [ 상세 페이지에서 구매자로 로그인 후 모금하기 클릭 ] <br>
				-> 기부금 모금하기에서 결제할 Flover가 현재 나의 Flover보다 없으면 !기부 재화 충전 페이지로 이동 [ 구매자 로그인 필요 ] 재화충전 KaKaoPay API 연동</p></li>
		<li><a href="./user/projectRegistration/donation" target="_blank">! 기부 프로젝트 등록 [ 등록 시 판매자 로그인 필요 ]</a></li>
		<li><a href="./seller/donation/products" target="_blank">! 기부 프로젝트 목록 [ 판매자 로그인 필요 ]</a></li>
		<li><a href="./seller/donation/news" target="_blank">! 기부 프로젝트 새소식 관리 [ 판매자 로그인 필요 ]</a></li>
		<li><a href="./seller/donation/condition" target="_blank">! 기부 프로젝트 진행현황 관리 [ 판매자 로그인 필요 ]</a></li>
		<li><a href="./admin/projectManagement" target="_blank">! 관리자 페이지 프로젝트 관리 </a></li>
		<li><a href="./admin/donation/judgement" target="_blank">! 관리자 페이지 (심사 관리 -> 기부 심사 관리) </a></li>
		<li><a href="./user/mypage" target="_blank">! 마이페이지 [기부 취소, 기부 내역, 기부 현황, 기부 상세] < 구매자 로그인 필요 ></a></li>
		<p>====================</p>
		<li>김진현</li>
		<li><a href="./user/mypage" target="_blank">! 마이페이지(쿠폰)(진현)</a></li>
		<li><a href="./user/board" target="_blank">! 공지사항,이벤트 통합 (진현)</a></li>
		<li><a href="./user/inquiry" target="_blank">! 1:1문의 (진현)</a></li>
		<li><a href="./user/inquiry/report" target="_blank">! 신고하기 팝업 (진현)</a></li>
		<li><a href="./admin/site/category" target="_blank">! 관리자 사이트(카테고리) (진현)</a></li>
		<li><a href="./admin/board/main" target="_blank">! 관리자 게시판 관리 (진현)</a></li>
		<li><a href="./admin/inquiry/main" target="_blank">! 관리자 문의관리 (진현)</a></li>
		<p>====================</p>
		<li>홍설아</li>
		<p>====================</p>
	</ul>
	<ul>
		<li><a href="./user" target="_blank ">!메인화면 (index) (슬지)</a></li>
		<li><a href="./admin" target="_blank">!관리자 어드민 메인화면 (슬지)</a></li>
		<li><a href="./seller" target="_blank">!판매자 어드민 메인화면 (슬지)</a></li>
		<li><a href="./user/account/login" target="_blank">!로그인(설아) </a></li>
		<li><a href="./user/account" target="_blank">!회원가입 (설아)</a></li>
		<li><a href="./user/mypage" target="_blank">#마이페이지</a></li>
	</ul>
</body>
</html>