<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>project infomation</title>
	<link rel="stylesheet" th:href="@{/common/css/intro-css.css}">
	<link rel="stylesheet" th:href="@{/common/css/font/font.css}">
</head>
<body>
	<div id="wrap">
		<div class="info-title-area">
			<h3>한국스마트정보교육원 48기 2팀</h3>
			<h1 id="title">
				<span style="--variable-index : 0">크</span>
				<span style="--variable-index : 1">라</span>
				<span style="--variable-index : 2">우</span>
				<span style="--variable-index : 3">드</span>
				<span style="--variable-index : 4">펀</span>
				<span style="--variable-index : 5">딩</span>
				<span style="--variable-index : 6"></span>
				<span style="--variable-index : 7">플</span>
				<span style="--variable-index : 8">랫</span>
				<span style="--variable-index : 9">폼</span>
				<span style="--variable-index : 10"></span>
				<span style="--variable-index : 11">프</span>
				<span style="--variable-index : 12">로</span>
				<span style="--variable-index : 13">젝</span>
				<span style="--variable-index : 14">트</span>
			</h1>
		</div>
	</div>

	<ul>
		<p>====================</p>
		<li>팀장 : 전슬지</li>
		<p>====================</p>
		<li>강오진</li>
		<p>====================</p>
		<li>김상민</li>
		<p>====================</p>
		<li>김시원</li>
		<p>====================</p>
		<li>김정민</li>
		<p>====================</p>
		<li>김진현</li>
		<li><a href="./user/board" target="_blank">! 공지사항,이벤트 통합 (진현)</a></li>
		<li><a href="./user/inquiry" target="_blank">! 1:1문의 (진현)</a></li>
		<li><a href="./user/inquiry/report" target="_blank">! 신고하기 팝업 (진현)</a></li>
		<li><a href="./admin/site/category" target="_blank">! 관리자 사이트(카테고리) (진현)</a></li>
		<li><a href="./admin/board/main" target="_blank">! 관리자 게시판 관리 (진현)</a></li>
		<li><a href="./admin/inquiry/main" target="_blank">! 관리자 문의관리 (진현)</a></li>
		<p>====================</p>
		<li>홍설아</li>
		<p>====================</p>
	</ul>
	<ul>
		<li><a href="./user" target="_blank ">!메인화면 (index) (슬지)</a></li>
		<li><a href="./admin" target="_blank">!관리자 어드민 메인화면 (슬지)</a></li>
		<li><a href="./seller" target="_blank">!판매자 어드민 메인화면 (슬지)</a></li>
		<li><a href="./user/account/login" target="_blank">!로그인(설아) </a></li>
		<li><a href="./user/account" target="_blank">!회원가입 (설아)</a></li>
		<li><a href="./user/mypage" target="_blank">#마이페이지</a></li>
	</ul>
</body>
</html>