<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{seller/layout/default}">
<!--스토어 메인페이지 : 소속된 스토어 정보 조회 페이지(스토어 정보, 등록된 직원 목록...)-->
<head>
    <!--  사용자별 css file 추가 부분 -->
<style>
    /*  검은 버튼  */
    .submitBtn_black {
        background: #191919;
        padding: 7px 23px;
        transition: all .4s;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #191919;
        font-size: 12px;
        transition: background 0.3s;
        margin-left: 7px;
    }

    .submitBtn_black:hover {
        background: var(--maincolor);
        border: 1px solid var(--maincolor);
    }

    /* 흰 버튼 */
    .submitBtn_white {
        background: #fff;
        padding: 7px 23px;
        transition: all .4s;
        color: #191919;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #191919;
        font-size: 12px;
        transition: background 0.3s;
        margin-left: 10px;
    }

    .submitBtn_white:hover {
        background: var(--maincolor);
        border: 1px solid var(--maincolor);
        color: #fff;
    }
</style>
</head>
<th:block layout:fragment="customContents">
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3 th:text="${contentsTitle}">My 스토어</h3>
            <p >sub title 내용 작성, 변수 contentsSubTitle</p>
        </div>
    </div>

    <div class="pageContainer" style="width:1200px; display: flex;">
        <div>
            <!-- 유저 프로필 영역   -->
            <div id="profileContainer">
                <!-- 프로필 이미지 -->
                <div class="img-box">
                    <img style="width: 90px; height: 90px; border-radius: 50%;" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.namu.wiki%2Fi%2FDgDM89CJAmUv4KwG-JNwQOWklX6MPKPXip-KQL66igwbwegZ3y6pRdFZ3Ne28Qn7JaxXZzewB3_iHM_uqJ7s8A.webp&type=sc960_832"
                         id="profile_img" alt="">
                </div>

                <!-- 사용자 이름 + 설정 아이콘 -->
                <div id="name-box">
                    <!-- 사용자 이름 -->
                    <h2>최미미</h2>
                    <!-- 설정 아이콘 클릭시 프로필 설정 페이지로 이동  -->
                    <a th:href="@{#}"></a>
                </div>
            </div>

        </div>
        <div class="row" style="display: flex; " >
            <div class="admin-wrapper">
                <!-- 사용자정의 contents start -->

                    <form class="edit-store" style="width:700px; display: flex; flex-direction: column; padding: 20px; ">
                        <div class="mb-3" id="store-name">
                            <label for="duplicationCheck" class="form-label">스토어 이름</label>
                            <div style="display: flex; gap:10px;">
                                <input type="text" class="form-control" id="duplicationCheck" value="철수네" readonly="readonly">
                            </div>
                        </div>
                        <div id="emailHelp" class="form-text"></div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">비밀번호</label>
                            <input type="password" class="form-control"  aria-describedby="emailHelp" id="inputPassword" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="checkPassword" class="form-label">비밀번호 확인</label>
                            <input type="password" class="form-control" id="checkPassword" >
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">e-mail</label>
                            <input type="text" class="form-control"  aria-describedby="emailHelp" id="inputEmail">
                        </div>
                        <div class="mb-3">
                            <label for="inputPhone" class="form-label">휴대폰 번호</label>
                            <input type="text" class="form-control"  aria-describedby="emailHelp" id="inputPhone"
                                   placeholder="휴대폰 번호 입력('-' 제외)">
                        </div>

                        <!-- 모달팝업 -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!-- 팝업창 제목  -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">약관 자세히 보기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-grid gap-2" >
                        <button type="submit" class="submitBtn_black" id="join-button">수정</button>

                    </div>

                <!-- 사용자정의 contents end -->
            </div>
    </div>
</div>
</div>
<!-- /page content -->

</th:block>
<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>



</html>