<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>공지사항 등록</title>
    <link rel="stylesheet" th:href="@{/admin/css/boardAdd.css}">
</head>


<th:block layout:fragment="customContents">

    <form>
        <div class="titleArea">
            <h2>공지사항 등록</h2>
        </div>

        <div class="boardForm">
            <table border="1">
                <caption>공지사항 수정 폼</caption>
                <colgroup>
                    <col style="width: 190px">
                    <col style="width: auto;">
                </colgroup>

                <tbody>
                <form class="editForm">
                    <div class="formText">
                        <tr>
                            <th scope="row" class="RW">제목</th>
                            <td>
                                <input id="subject" name="subject" class="inputTitleText" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="RW Comment">내용</th>
                            <td>
                                <input id="subject" name="subject" class="inputTitleText" type="text">
                            </td>
                        </tr>
                    </div>
                </form>

                </tbody>
            </table>
        </div>
    </form>

</th:block>
    <div class="boardBtn">
        <a>취소</a> <a>등록</a>
    </div>
</html>