<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <!--  사용자별 css file 추가 부분 -->
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/admin/css/adminBoardModify.css}">
    <link rel="stylesheet" th:href="@{/admin/css/contents_style.css}">
    <link rel="stylesheet" th:href="@{/common/css/common-css.css}">
</head>
<!-- 사용자별 스크립트 작성 -->

<!--if(confirm('정말 취소하시겠습니까?')){-->
<!--// 확인 누르면 실행될 내용 작성-->
<!--} else {-->
<!--// 취소 누르면 실행될 내용 작성-->
<!--}-->

<!-- 사용자 페이지별 javascript file -->
<body>
<div class="pop_modify">
  <div class="ui-header">
    <table border="1">
      <tbody>
      <h1>공지 사항</h1>
      <tr>
        <td class="sidebar">카테고리 유형</td>
        <td>공지사항</td>
      </tr>
      <tr>
        <td class="sidebar">게시판 이름</td>
        <td>[서비스 안내] 플로키 서비스 리워드 오픈</td>
      </tr>
      <tr>
        <td class="sidebar">세부 내용</td>
        <td>
                            <textarea class="detailComment" rows="3" style="width: 100%;">
안녕하세요 김플로입니다.
이번에 플로키 크라우드펀딩 사이트를 오픈했습니다.
많은 참여와 성원 부탁드립니다.
                        </textarea>
        </td>

      </tr>
      <tr>
        <td class="sidebar">게시 날짜</td>
        <td>2023-10-18</td>
      </tr>
      <tr>
        <td class="sidebar">관리자 ID</td>
        <td>id001</td>
      </tr>
      </tbody>
    </table>

    <div class="option">
        <a th:href="@{#}" class="cancel submitBtn">취소</a>
        <a th:href="@{#}" class="edit submitBtn">수정</a>
    </div>
  </div>
</div>


<script th:src="@{/admin/vendors/jquery/dist/jquery.min.js}"></script>
<script>
  $('.cancel').click(function(){
    if(confirm("정말로 취소 하시겠습니까??")){
// 확인 하면 창은 꺼지게 된다.
      window.close();
    }
  });

</script>

</body>
</html>