<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team02.admin.mapper.coupon.AdminCouponMapper">

    <resultMap id="CouponResultMap" type="Coupon">
        <id property="couponCode" column="coupon_code"/>
        <result property="couponSerialNumber" column="coupon_serial_number"/>
        <result property="couponName" column="coupon_name"/>
        <result property="couponDiscountRate" column="coupon_discount_rate"/>
        <result property="couponDiscountAmount" column="coupon_discount_amount"/>
        <result property="couponStock" column="coupon_stock"/>
        <result property="numberCouponRemaining" column="number_coupons_remaining"/>
        <result property="couponValidPeriod" column="coupon_valid_period"/>
        <result property="couponTermsUse" column="coupon_terms_use"/>
    </resultMap>

<!--    쿠폰 전체 조회-->
    <select id="getCouponList" resultType="Coupon">
        select
            c.coupon_code as couponCode,
            c.coupon_serial_number as couponSerialNumber,
            c.coupon_name as couponName,
            c.coupon_discount_rate as couponDiscountRate,
            c.coupon_discount_amount as couponDiscountAmount,
            c.coupon_stock as couponStock,
            c.number_coupons_remaining as numberCouponRemaining,
            c.coupon_valid_period as couponValidPeriod,
            c.coupon_terms_use as couponTermsUse
        from
            coupon_details as c
    </select>

    <select id="getCouponCodeById" parameterType="String" >
        /*  특정 쿠폰 조회*/
        select
        c.coupon_code as couponCode,
        c.coupon_serial_number as couponSerialNumber,
        c.coupon_name as couponName,
        c.coupon_discount_rate as couponDiscountRate,
        c.coupon_discount_amount as couponDiscountAmount,
        c.coupon_stock as couponStock,
        c.number_coupons_remaining as numberCouponRemaining,
        c.coupon_valid_period as couponValidPeriod,
        c.coupon_terms_use as couponTermsUse
        from
        coupon_details as c
        where
        c.coupon_code = #{couponCode};
    </select>

</mapper>