<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team02.common.mapper.order.OrderMapper">

    <resultMap type="OrderTotal" id="orderMap">
        <id property="orderCode" column="order_code"/>
        <result property="memberId" column="member_id"/>
        <result property="orderCategoryCode" column="order_category_code"/>
        <result property="orderName" column="order_name"/>
        <result property="orderFundingName" column="order_funding_name"/>
        <result property="orderTotalPrice" column="order_total_price"/>
        <result property="orderCategoryDetail" column="order_category_detail"/>
        <result property="goodsCode" column="goods_code"/>
        <result property="goodsPartition" column="goodsPartition"/>
        <result property="orderApplicationDate" column="order_application_date"/>
        <result property="orderConfirmDate" column="order_confirm_date"/>
        <result property="orderCancellDate" column="order_cancell_date"/>
    </resultMap>

    <resultMap id="orderDetailMap" type="RewardOrderDetail">
        <id property="rewardOrderDetailCode" column="rd_order_detail_code"/>
        <result property="rewardOptionCode" column="reward_option_code"/>
        <result property="orderCode" column="order_code"/>
        <result property="orderOptionAmount" column="order_option_amount"/>
        <result property="optionPrice" column="option_price"/>
        <result property="optionTotalPrice" column="option_total_price"/>
    </resultMap>

    
    <sql id="orderListWhere">
        <where>
            <!-- 기간 선택 -->
            <if test="dateSettStartDate != null and dateSettStartDate != ''">
                DATE_FORMAT(ot.order_application_date, '%Y-%m-%d') >= #{dateSettStartDate}
            </if>
            <if test="dateSettEndDate != null and dateSettEndDate != ''">
                AND
                #{dateSettEndDate} >= DATE_FORMAT(ot.order_application_date, '%Y-%m-%d')
            </if>
            <!-- 공고 분류 선택 -->
            <if test="projectPartition != null">
                AND
                substring(goods_code, 1,3) IN
                <foreach collection="projectPartition" item="item" open="(" close=")"  separator=",">
                    #{item}
                </foreach>
            </if>
            <!-- 공고 상태 선택 -->
            <if test="orderby == 'projecting_o'">
                AND
                ot.order_category_code IN ('ORDC_001','ORDC_002','ORDC_003')
            </if>
            <if test="orderby == 'projectFail_o'">
                AND
                ot.order_category_code = 'ORDC_013'
            </if>
            <if test="orderby == 'deliveryWait_o'">
                AND
                ot.order_category_code = 'ORDC_004'
            </if>
            <if test="orderby == 'deliveryCompleted_o'">
                AND
                ot.order_category_code = 'ORDC_005'
            </if>
            <if test="orderby == 'swapping_o'">
                AND
                ot.order_category_code IN ('ORDC_011','ORDC_012')
            </if>
            <if test="orderby == 'refunding_o'">
                AND
                ot.order_category_code IN ('ORDC_009','ORDC_010')
            </if>
            <if test="orderby == 'orderCompleted'">
                AND
                ot.order_category_code IN ('ORDC_006','ORDC_007','ORDC_008')
            </if>
            <!-- 키워드 선택 -->
            <if test="searchKey != null and searchKey == 'total'">
                AND
                (
                    ot.order_code LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    ot.member_id LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    ot.order_name LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    ot.order_funding_name LIKE CONCAT('%', #{searchValue}, '%')
                )
            </if>
            <if test="searchKey != null and searchKey != 'total' and searchKey != ''">
                AND
                ot.${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
            </if>

        </where>
        <!-- ORDER BY -->
        <choose>
            <when test="orderby == 'order_d'">
                ORDER BY ot.order_application_date DESC
            </when>
            <when test="orderby == 'order_a'">
                ORDER BY ot.order_application_date ASC
            </when>
            <when test="orderby == 'order_name_d'">
                ORDER BY ot.order_name DESC
            </when>
            <when test="orderby == 'order_name_a'">
                ORDER BY ot.order_name ASC
            </when>
            <when test="orderby == 'projecting_o'">
                ORDER BY ot.order_application_date DESC
            </when>
            <when test="orderby == 'projectFail_o'">
                ORDER BY ot.order_application_date DESC
            </when>
            <when test="orderby == 'deliveryWait_o'">
                ORDER BY ot.order_application_date ASC
            </when>
            <when test="orderby == 'deliveryCompleted_o'">
                ORDER BY ot.order_application_date ASC
            </when>
            <when test="orderby == 'swapping_o'">
                ORDER BY ot.order_application_date ASC
            </when>
            <when test="orderby == 'refunding_o'">
                ORDER BY ot.order_application_date ASC
            </when>
            <when test="orderby == 'orderCompleted'">
                ORDER BY ot.order_application_date ASC
            </when>
            <otherwise>
                ORDER BY ot.order_application_date DESC
            </otherwise>
        </choose>


    </sql>

    <!-- order list 조회 -->
    <select id="getOrderList" parameterType="map" resultMap="orderMap">
        SELECT
            ot.order_code,
            ot.member_id,
            ot.order_category_code,
            ot.order_name,
            ot.order_funding_name,
            ot.order_total_price,
            ot.order_category_detail,
            ot.goods_code,
            substring(goods_code, 1,3) as goodsPartition,
            ot.order_application_date,
            ot.order_confirm_date,
            ot.order_cancell_date
        FROM
            order_table AS ot
        <include refid="orderListWhere"></include>

        <if test="startRowNum > -1">
            LIMIT ${startRowNum}, ${rowPerPage};
        </if>

    </select>


    <!-- 체크 포인트 : category code dto 적용한 로직으로 수정 -->
    <!-- 전체 주문 행 갯수 -->
    <select id="getOrderCnt" resultType="int" parameterType="map">
        /* 전체 주문 행 조회 */
        SELECT
            COUNT(1)
        FROM
            order_table AS ot
        <include refid="orderListWhere"></include>
    </select>

    <!-- 특정 주문 조회 -->
    <select id="getOrderInfoById" parameterType="String" resultMap="orderMap">
        /* 특정 주문 상세 조회 */
        SELECT
            ot.order_code,
            ot.member_id,
            ot.order_category_code,
            ot.order_name,
            ot.order_funding_name,
            ot.order_total_price,
            ot.order_category_detail,
            ot.goods_code,
            ot.order_application_date,
            ot.order_confirm_date,
            ot.order_cancell_date
        FROM
            order_table AS ot
        WHERE
            ot.order_code = #{orderCode};
    </select>

    <!--마이페이지 내 주문 내역 조회-->
    <select id="mypageOrderList" parameterType="String" resultMap="orderMap">
        SELECT
            o.goods_code,
            o.member_id,
            o.order_code,
            o.order_application_date,
            o.order_cancell_date,
            o.order_category_code,
            o.order_category_detail,
            o.order_confirm_date,
            o.order_funding_name,
            o.order_name,
            o.order_total_price,
            r.project_thumbnail_image AS projectThumbnailImage,
            d.donation_image AS projectThumbnailImage,
            i.investment_image AS projectThumbnailImage
        FROM
            order_table AS o
        LEFT JOIN
            reward_project AS r
        ON
            o.goods_code = r.reward_project_code
        LEFT JOIN
            donation AS d
        ON
            o.goods_code = d.donation_code
        LEFT JOIN
            investment AS i
        ON
            o.goods_code = i.investment_code
        <where>
            AND o.member_id = #{memberId}
            <if test="selectFund != 'viewAll'">
                <if test="selectFund == 'reward'" >
                    AND SUBSTRING_INDEX(o.goods_code,'_',1) = 'rwd' OR SUBSTRING_INDEX(o.goods_code,'_',1) = 'RWD'
                </if>
                <if test="selectFund == 'investment'" >
                    AND SUBSTRING_INDEX(o.goods_code,'_',1) = 'inv'
                </if>
                <if test="selectFund == 'donation'" >
                    AND SUBSTRING_INDEX(o.goods_code,'_',1) = 'don'
                </if>
            </if>
        </where>
        ORDER BY
            o.order_application_date DESC
    </select>

    <!--마이 페이지 주문 상세 조회-->
    <select id="mypageOrderDetailList" resultMap="orderDetailMap" parameterType="String">
        SELECT
            r.option_price,
            r.rd_order_detail_code,
            r.option_total_price,
            r.order_option_amount,
            r.reward_option_code,
            r.order_code,
            o.option_name AS optionName
        FROM
            reward_order_detail AS r
        INNER JOIN
            reward_option as o
        ON
            r.reward_option_code = o.reward_option_code
        WHERE
            r.order_code = #{orderCode}
    </select>
</mapper>