<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 사용자별 스크립트 작성 -->
<head>
    <!--  사용자별 css file 추가 부분 -->
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/admin/css/adminBoardModify.css}">
</head>
<!--if(confirm('정말 취소하시겠습니까?')){-->
<!--// 확인 누르면 실행될 내용 작성-->
<!--} else {-->
<!--// 취소 누르면 실행될 내용 작성-->
<!--}-->
<!-- 사용자 페이지별 javascript file -->
<body>
<div class="pop_modify">
    <div class="ui-header">
        <table border="1">
            <tbody>
            <h1>문의</h1>
            <tr>
                <td class="sidebar">문의 코드</td>
                <td>iq_20230601_001</td>
            </tr>
            <tr>
                <td class="sidebar">문의 제목</td>
                <td>아이디가 이상해요</td>
            </tr>
            <tr>
                <td class="sidebar">문의 등록자 아이디</td>
                <td>id005</td>
            </tr>
            <tr>
                <td class="sidebar">문의 내용</td>
                <td>
                            <textarea class="detailComment" rows="3" style="width: 100%;">
아이디 수정해주세요
                        </textarea>
                </td>

            </tr>
            <tr>
                <td class="sidebar">문의 날짜</td>
                <td>2023-06-01</td>
            </tr>
            <tr>
                <td class="sidebar">관리자 ID</td>
                <td>id001</td>
            </tr>
            </tbody>
        </table>

        <div class="option">
            <a th:href="@{#}" class="cancel">취소</a> <a th:href="@{#}" class="edit">수정</a>
        </div>
    </div>
</div>


<script th:src="@{/admin/vendors/jquery/dist/jquery.min.js}"></script>
<script>
    // 취소 버튼 누르면 알림창
    $('.cancel').click(function (){
        if(confirm('정말 취소하시겠습니까?')){
            // 확인 누르면 실행될 내용 작성
            // 창이 사라진다.
            console.log(11);
            window.close();
        }
    })
</script>


</body>


</html>