<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
    <!--  사용자별 css file 추가 부분 -->
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">
    <div class="admin-content-wrapper">
        <table th:object="${lawSatistifyInfo}">
            <thead>
                <tr>
                    <th>자본시장법 범위충족 코드</th>
                    <th>자본시장법 범위충족 사유</th>
                    <th>등록한 아이디</th>
                    <th>등록일시</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${lawSatistifyInfo == null}">
                    <td colspan="5">자본시장법 범위충족 내용이 없습니다.</td>
                </tr>
                <tr th:unless="${lawSatistifyInfo == null}">
                    <td th:text="*{lawSatistifyCode}"></td>
                    <td th:text="*{lawSatistifyReason}"></td>
                    <td th:text="*{memberId}"></td>
                    <td th:text="*{codeRegDay}"></td>
                    <td>
                        <a th:href="@{/admin/investment/update/law-satistify(lawSatistifyCode=*{lawSatistifyCode})}">수정</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>