<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/login_default}">
<!--로그인 후 볼 수 있는 유저 마이 페이지-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <style>
        .login-logo .user-connection-menu {
            display: none;
        }
        #tabWrapper {
            background-color: white;
            display: flex;
            justify-content: center;
            overflow: hidden;
            padding-top: 30px;
        }

        #tabContainer {
            width: 1040px;
        }

        .nav-link{
            font-size: medium;
        }

        #profileContainer{
            display: flex;
            justify-content: center;
            padding: 35px;
            flex-direction: column;
        }

        .img-box{
            margin: 0 auto;
        }

        #name-box{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        /*  tab의 내부 영역 시작 */
        .titleContainer{
            display : flex;
            flex-direction: column;
            height : 150px;
            justify-content: start;
            padding: 30px 0 20px 30px;

        }

        /* tab 내부의 타이틀 영역 */
        .tabTitle{
            display : flex;
            height : 50px;
            flex-direction: column;
            justify-content: start;
            font-size : 30px;
            font-weight: bold;
            margin-bottom: 30px;
            color:black; !important;
        }

        /* 셀렉트 포함한 div */
        #selectContainer{
            display: flex;
            width: 250px;
            height: 50px;
        }

        #selectFund{
            font-size:16px;
            padding:10px 70px 10px 10px;
            color:dimgray;
        }

        /* tab 내부의 본문 영역 */
        .bodyContainer{
            display : flex;
            flex-direction: column;
            padding: 30px;
        }

        /* 내역 리스트 항목  */
        .contentsContainer{
            margin-bottom: 10px;
            display:flex;
            align-items: center;
            flex-direction: column;
        }

        /*  검은 버튼  */
        .submitBtn_black {
            background: #191919;
            padding: 7px 23px;
            transition: all .4s;
            color: #fff;
            display: inline-block;
            text-decoration: none;
            border: 1px solid #191919;
            font-size: 12px;
            transition: background 0.3s;
            margin-left: 7px;
        }

        .submitBtn_black:hover {
            background: var(--maincolor);
            border: 1px solid var(--maincolor);
        }

        /* 흰 버튼 */
        .submitBtn_white {
            background: #fff;
            padding: 7px 23px;
            transition: all .4s;
            color: #191919;
            display: inline-block;
            text-decoration: none;
            border: 1px solid #191919;
            font-size: 12px;
            transition: background 0.3s;
        }

        .submitBtn_white:hover {
            background: var(--maincolor);
            border: 1px solid var(--maincolor);
            color: #fff;
        }

        .nav-link{
            padding:10px 60px 0 60px;
        }

        .user-info{
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color:black;
            padding-left: 10px;
        }

        .h4 pb-2 mb-4 text-danger border-bottom border-grey{
            height: 80px ;
        }
        .user-info-list{
            font-weight: bold;
            font-size: medium;
            color: black;
        }

        /* 회원 탈퇴 a 태그*/
        #lead-drop-page {
            color: lightgrey;
        }

        #lead-drop-page:hover {
            color: black; /* 포커싱될 때 글자 색상을 검은색으로 변경 */
        }

        .hidden{
            display: none;
        }


    </style>

</head>
<body>
<!--사용자별 html-->
<th:block layout:fragment="customContents">
    <!-- 유저 프로필 영역   -->
    <div id="profileContainer">
        <!-- 프로필 이미지 -->
        <div class="img-box">
            <img style="width: 90px; height: 90px; border-radius: 50%;" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.namu.wiki%2Fi%2FDgDM89CJAmUv4KwG-JNwQOWklX6MPKPXip-KQL66igwbwegZ3y6pRdFZ3Ne28Qn7JaxXZzewB3_iHM_uqJ7s8A.webp&type=sc960_832"
                 id="profile_img" alt="">
        </div>

        <!-- 사용자 이름 + 설정 아이콘 -->
        <div id="name-box">
            <!-- 사용자 이름 -->
            <h2>최미미</h2>
            <!-- 설정 아이콘 클릭시 프로필 설정 페이지로 이동  -->
            <a th:href="@{/user/mypage/profile}"><i class="bi bi-gear" id="showProfileIcon" ></i></a>
        </div>
    </div>
    <!-- tab 메뉴 영역  -->
    <!-- data-toggle="tab" 속성을 Bootstrap의 <a> 태그에 추가하면 해당 링크가 tab 컴포넌트를 제어하도록 설정 -->
    <div id="tabWrapper">
        <div id="tabContainer">
            <ul class="nav nav-tabs nav-justified justify-content-center" id="tabList">
                <li class="nav-item"><a href="#menu1" class="nav-link active" data-toggle="tab">후원한 펀딩</a></li>
                <li class="nav-item"><a href="#menu2" class="nav-link " data-toggle="tab">찜한 펀딩</a></li>
                <li class="nav-item"><a href="#menu5" class="nav-link" data-toggle="tab">적립금/쿠폰/</a></li>
                <li class="nav-item"><a href="#menu6" class="nav-link" data-toggle="tab">내 정보</a></li>
            </ul>

    <!-- tab 내에 표시될 영역  -->
            <div class="tab-content" >
                <div id="menu1" class="container tab-pane active">
                    <!--  tab 내부 타이틀 영역 -->
                    <div class="titleContainer" >
                        <div class="tabTitle">펀딩 내역</div>

                    <!--  펀딩 종류 select  -->
                    <div id="selectContainer">
                        <select id="selectFund" class="form-select form-select-lg" >
                            <option class="fundCategory" value="viewAll" selected>전체</option>
                            <option class="fundCategory" value="reward">리워드</option>
                            <option class="fundCategory" value="investment">투자</option>
                            <option class="fundCategory" value="donation">기부</option>
                        </select>
                    </div>

                    </div >
                    <!--  리워드 펀딩 선택시 나타날 페이지  -->
                    <!--  tab 내부 본문 영역 -->
                    <div class="bodyContainer" id="rewardTab">

                        <!--  내역 리스트 항목 -->
                        <div class="contentsContainer mb-lg-5" th:each="l : ${mypageOrderList}">
                            <div class="card" style="width: 48rem;">
                                <!-- 내역 상태 ( 주문 상태 상세 )  -->
                                <h5 class="card-header" th:text="${l.orderCategoryDetail}">결제 완료</h5>
                                <!-- 내역 내용 -->
                                <div class="card-body" style="display: flex">
                                    <!-- 이미지  -->
                                    <div>
                                        <img class="card-img-top" style="width: 160px; height: 160px;" alt="..." th:src="|@{/summernoteImage/}${l.projectThumbnailImage}|"
                                             onerror="this.src = 'https://as1.ftcdn.net/v2/jpg/04/34/72/82/1000_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg';">
                                    </div>

                                    <!-- 설명 / 버튼 -->
                                    <form action="" method="post" style="display: flex; flex-direction: column; justify-content:space-between; padding-left:30px; width: 1200px;">
                                            <p class="orderApplicationDate" th:text="${l.orderApplicationDate}">2023.10.30 결제</p>
                                            <h5 class="orderName" th:text="${l.orderName}">[9만원대 | 가성비 끝판왕] 누젠 모래시계 가열식 가습기</h5>
                                            <th:block th:if="${#lists.size(rl) > 0}" th:each="rl : ${l.rewardOrderDetailList}">
                                                <span class="card-text" th:text="${rl.optionName}">누젠 모래시계 가열식 가습기(화이트)</span>
                                                <span th:text="|주문 수량 : ${rl.orderOptionAmount} 개|"></span>
                                            </th:block>

                                            <div style="display: flex; justify-content: end; margin:0;">
                                                <a href="#" class="submitBtn_white"
                                                   data-toggle="modal"
                                                   data-target="#exampleModal3"
                                                   data-what="hello"
                                                   >주문취소</a>
                                                <a href="#" class="submitBtn_black" >결제상세</a>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 모달팝업 -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <!-- 팝업창 내용 -->
                                    <div class="modal-body detail">
                                        <p>정말로 취소하시겠습니까?</p>
                                    </div>

                                    <div class="modal-footer" >
                                        <button type="submit" class="submitBtn_white" data-dismiss="modal">취소</button>
                                        <button type="submit" class="submitBtn_black">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


<!--                    &lt;!&ndash;  투자 펀딩 선택시 나타날 페이지  &ndash;&gt;-->
<!--                    &lt;!&ndash;  내역 리스트 항목 &ndash;&gt;-->
<!--                    &lt;!&ndash;  tab 내부 본문 영역 &ndash;&gt;-->
<!--                    <div class="bodyContainer" id="investmentTab">-->

<!--                        &lt;!&ndash;  내역 리스트 항목 &ndash;&gt;-->
<!--                        <div class="contentsContainer">-->
<!--                            <div class="card" style="width: 48rem;">-->
<!--                                &lt;!&ndash; 내역 상태 ( 주문 상태 상세 )  &ndash;&gt;-->
<!--                                <h5 class="card-header">결제 완료 </h5>-->
<!--                                &lt;!&ndash; 내역 내용 &ndash;&gt;-->
<!--                                <div class="card-body" style="display: flex">-->
<!--                                    &lt;!&ndash; 이미지  &ndash;&gt;-->
<!--                                    <div>-->
<!--                                        <img class="card-img-top" style="width: 160px; height: 160px;" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MjdfMjY5%2FMDAxNjU2MzIyNDkxNTAw.MyuSHCloNL5z2mgJhRk1Z4u__TYNKf-OqxW-jKEtDIQg.6WbKNtW5efJE2zbANoWbmq0B-raZae4wKy1_TsyS5WQg.JPEG.bammango0106%2Ffile1_16371338044gozwo2u45.jpg&type=a340"-->
<!--                                             alt="...">-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; 설명 / 버튼 &ndash;&gt;-->
<!--                                    <form action="" method="post" style="display: flex; flex-direction: column; justify-content:space-between; padding-left:30px; width: 1200px;">-->
<!--                                        <p class="card-text">2023.10.20 결제</p>-->
<!--                                        <h5 class="card-title">고흐 전시회</h5>-->
<!--                                        <p class="card-text">투자 옵션 1</p>-->
<!--                                        <div style="display: flex; justify-content: end; margin:0;">-->
<!--                                            <a href="#" class="submitBtn_white"-->
<!--                                               data-toggle="modal"-->
<!--                                               data-target="#exampleModal2"-->
<!--                                               data-what="hello"-->
<!--                                            >주문취소</a>-->
<!--                                            <a href="" class="submitBtn_black" >결제상세</a>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; 모달팝업 &ndash;&gt;-->
<!--                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                            <div class="modal-dialog" role="document">-->
<!--                                <div class="modal-content">-->

<!--                                    &lt;!&ndash; 팝업창 내용 &ndash;&gt;-->
<!--                                    <div class="modal-body detail">-->
<!--                                        <p>정말로 취소하시겠습니까?</p>-->
<!--                                    </div>-->

<!--                                    <div class="modal-footer" >-->
<!--                                        <button type="button" class="submitBtn_white" data-dismiss="modal">취소</button>-->
<!--                                        <button type="button" class="submitBtn_black">확인</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash;  기부 펀딩 선택시 나타날 페이지  &ndash;&gt;-->
<!--                    &lt;!&ndash;  tab 내부 본문 영역 &ndash;&gt;-->
<!--                    <div class="bodyContainer" id="donationTab">-->

<!--                        &lt;!&ndash;  내역 리스트 항목 &ndash;&gt;-->
<!--                        <div class="contentsContainer">-->
<!--                            <div class="card" style="width: 48rem;">-->
<!--                                &lt;!&ndash; 내역 상태 ( 주문 상태 상세 )  &ndash;&gt;-->
<!--                                <h5 class="card-header">결제 완료 </h5>-->
<!--                                &lt;!&ndash; 내역 내용 &ndash;&gt;-->
<!--                                <div class="card-body" style="display: flex">-->
<!--                                    &lt;!&ndash; 이미지  &ndash;&gt;-->
<!--                                    <div>-->
<!--                                        <img class="card-img-top" style="width: 160px; height: 160px;" src="https://contents.lotteon.com/itemimage/_v150640/LO/19/98/02/00/32/_1/99/80/20/03/3/LO1998020032_1998020033_1.jpg/dims/optimize/dims/resizemc/400x400"-->
<!--                                             alt="...">-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; 설명 / 버튼 &ndash;&gt;-->
<!--                                    <form action="" method="post" style="display: flex; flex-direction: column; justify-content:space-between; padding-left:30px; width: 1200px;">-->
<!--                                        <p class="card-text">2023.10.30 결제</p>-->
<!--                                        <h5 class="card-title">길고양이들을 도와주세요</h5>-->
<!--                                        <p class="card-text">사료 1포대 </p>-->
<!--                                        <div style="display: flex; justify-content: end; margin:0;">-->
<!--                                            <a href="#" class="submitBtn_white"-->
<!--                                               data-toggle="modal"-->
<!--                                               data-target="#exampleModal"-->
<!--                                               data-what="hello"-->
<!--                                            >주문취소</a>-->
<!--                                            <a href="#" class="submitBtn_black" >결제상세</a>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; 모달팝업 &ndash;&gt;-->
<!--                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                            <div class="modal-dialog" role="document">-->
<!--                                <div class="modal-content">-->
<!--                                    &lt;!&ndash; 팝업창 내용 &ndash;&gt;-->
<!--                                    <div class="modal-body detail">-->
<!--                                        <p>정말로 취소하시겠습니까?</p>-->
<!--                                    </div>-->

<!--                                    <div class="modal-footer" >-->
<!--                                        <button type="button" class="submitBtn_white" data-dismiss="modal">취소</button>-->
<!--                                        <button type="button" class="submitBtn_black">확인</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        -->
<!--                    </div>-->
                </div>

                <div id="menu2" class="container tab-pane ">
                    <div class="titleContainer">
                        <div class="tabTitle">찜한 펀딩</div>
                    </div>
                </div>


                <div id="menu5" class="container tab-pane">
                    <div class="titleContainer">
                        <div class="tabTitle">적립급/쿠폰</div>
                    </div>
                </div>
                <div id="menu6" class="container tab-pane" style=" height: 800px;" >
                    <div class="titleContainer" >
                        <div class="tabTitle">내 정보</div>
                        <div style=" display: flex; flex-direction: column;
                        justify-content: center; align-items: center;">

                            <form class="join-form">
                                <div class="mb-6">
                                    <p class="user-info-list">ID</p>
                                    <div class="user-info">
                                    <div>id001</div>
                                    </div>
                                </div>
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-grey" style="width: auto"></div>
                                <!--  비밀번호 정보 -->
                                <div class="mb-6" style="display: flex; justify-content: space-between;" >
                                    <p class="user-info-list">비밀번호</p>
                                    <button id="edit-pw-btn" type="button" class="btn btn-secondary btn-sm">변경</button>
                                </div>
                                <!-- 변경 버튼 클릭시 edit-pw div가 floating  -->
                                <div id="edit-pw" class="info-box" style="margin: 10px 50px 0 50px; display: none;">
                                    <input class="form-control" placeholder="비밀번호 입력" id="floating-input"
                                           style="height: 10px; border: 1px solid black; margin: 15px;"/>
                                    <label for="floating-input"></label>
                                </div>

                                <!--  e-mail 정보 -->
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-grey" style="width: auto"></div>
                                <div class="mb-6">
                                    <div style="display: flex; justify-content: space-between;">
                                        <p class="user-info-list">e-mail</p>
                                        <!-- 변경 버튼 클릭시 edit-pw div가 floating  -->
                                        <button id="edit-eamil-btn" type="button" class="btn btn-secondary btn-sm">변경</button>

                                        <div id="edit-email" class="info-box" style="margin: 10px 50px 0 50px;">
                                            <input class="form-control" placeholder="이메일 입력"
                                                   style="height: 10px; border: 1px solid black; margin: 15px;"/>
                                            <label for="floating-input"></label>
                                        </div>
                                    </div>
                                    <div class="user-info">
                                        <div>email01@naver.com</div>
                                    </div>
                                </div>

                                <!--  휴대폰 번호 정보 -->
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-grey" style="width: auto"></div>
                                <div class="mb-6">
                                    <div style="display: flex; justify-content: space-between;">
                                        <p class="user-info-list">휴대폰 번호</p>
                                        <!-- 변경 버튼 클릭시 edit-pw div가 floating  -->
                                        <button id="edit-phone-btn" type="button" class="btn btn-secondary btn-sm">변경</button>

                                        <div id="edit-phone" class="info-box" style="margin: 10px 50px 0 50px; display: none;">
                                            <input class="form-control" placeholder="휴대폰 번호 입력"
                                                   style="height: 10px; border: 1px solid black; margin: 15px;"/>
                                            <label for="floating-input"></label>
                                        </div>
                                    </div>
                                    <div class="user-info">
                                        <div>010-1111-1111</div>
                                    </div>
                                </div>

                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-grey" style="width: auto"></div>
                                <div class="mb-6">
                                    <a id="lead-drop-page" th:href="@{/user/account/drop}">회원탈퇴</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>

<!-- 사용자별 스크립트 파일 -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script th:inline="javascript">
      /* 선택한 select 항목별로 내용 나타나게  */
      /* 일단 모든 항목을 숨기고 나타나게 해야 할 듯 */
      $rewardTab = document.getElementById('rewardTab');
      $investmentTab = document.getElementById('investmentTab');
      $selectFund = document.getElementById('selectFund');
      $donationTab = document.getElementById('donationTab');
      $bodyContainer = document.querySelectorAll('.bodyContainer');

      // $selectFund.addEventListener('change', function(){
      //     $bodyContainer.forEach((element) => {
      //         element.style.display = 'none';
      //     })
      //
      //     let selectedValue = $selectFund.value;
      //     switch (selectedValue) {
      //         case "reward"     : $rewardTab.style.display = 'block';
      //                   break;
      //         case "investment" : $investmentTab.style.display = 'block';
      //                   break;
      //         case "donation"   : $donationTab.style.display = 'block';
      //                   break;
      //         default           :
      //             for(let i=0; i<$bodyContainer.length; i++){
      //                 $bodyContainer[i].style.display = 'block';
      //             }
      //     }
      // })

      // document.getElementById('lead-drop-page ').addEventListener('focus', ()=>{
      // })

      /* 내 정보 tab 🔽 */
      /*  수정 버튼 클릭시 edit-pw  div 보이게 */
      // const $floatingInput = document.getElementById('floating-input')
      // const $editPwBox = document.getElementById('edit-pw');
      // const $editPwBtn = document.getElementById('edit-pw-btn');
      //
      // $editPwBtn.addEventListener('click', () => {
      //     if($editPwBox.style.display === 'none'){
      //         $editPwBox.style.display = 'block';
      //        // $floatingInput.focus();
      //         //$editPwBtn.textContent = '취소';
      //     } else {
      //         $editPwBox.style.display = 'none';
      //         //$editPwBtn.textContent = '수정';
      //     }
      // })

      // const $floatingInput = document.getElementById('floating-input')
      // const $editPwBox = document.getElementById('edit-pw');
      // const $infoBox = document.querySelector('.info-box');
      // const $editPwBtn = document.getElementById('edit-pw-btn');
      //
      // $editPwBtn.addEventListener('click', () => {
      //     $infoBox.classList.toggle('hidden'); // 토글을 통해 숨김/표시 전환
      //     if (!$infoBox.classList.contains('hidden')) {
      //         $floatingInput.focus();
      //         $editPwBtn.textContent = '취소';
      //     } else {
      //         $editPwBtn.textContent = '수정';
      //     }
      // });


      const $editPwBox = document.getElementById('edit-pw');
      const $editPwBtn = document.getElementById('edit-pw-btn');

      $editPwBtn.addEventListener('click', () => {
          $editPwBox.classList.toggle('info-box'); // 토글을 통해 숨김/표시 전환
      });

      $('#selectFund').click(function(){
          alert('클릭')
      })
      //펀딩 내역 셀렉트 박스
      $('#selectFund').change(function(){
          let selectFund = $(this).val();
          console.log(selectFund);
          location.href = `/user/reward/?selectFund=${selectFund}`;
      })
    </script>
</th:block>


</body>
</html>